[2014-12-10 15:51] PP-MThomas opened #20 "Upgrade SSL to TLS"
Due to the POODLE issue, need to upgrade this sample server's SSL protocol to TLS.

[2015-01-14 14:51] #20 closed

[2015-02-04 00:35] sammcewan opened #22 "Crash when detecting EMV reader"
Have connected both EMV readers and during detection we get a crash in:
`-[PPHBondReaderDelegate getUpdateInformation] `

The reported crash is:
`*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** -[__NSPlaceholderDictionary initWithObjects:forKeys:count:]: attempt to insert nil object from objects[2]'`

[2015-02-04 00:50] vinodhsundararajan commented on #22
@sammcewan I am aware of this issue and we are currently working on a fix that should be released soon. I don't have an exact ETA - we are going through our testing now and will keep you posted as soon as the fix is available

[2015-02-04 19:47] sammcewan commented on #22
@vinodhsundararajan thanks. Looking forward to moving ahead with the integration.

[2015-02-09 02:46] sammcewan commented on #22
@vinodhsundararajan presume this is still an issue in 1.4.9? Same crasher exists.

[2015-02-11 23:02] #22 closed

[2015-04-08 13:23] ChristoDeluxe opened #27 "4 headers in SDK have missing newlines at end of file"
4 header files in the closed-source PayPalHereSDK.framework are missing newlines at the end of the file.  This results in warnings or errors in some build situations.  Please add a newline to those files when you next revise the framework.

The files are:
PPHCardNotPresentData.h
PPHChipAndPinEvent.h
PPHInvoiceProtocol.h
PPHLoggingDelegate.h

I'd make a PR, but you probably need to correct those fi

[2015-04-09 15:13] ppmtscory commented on #27
Thanks @ChristoDeluxe - we'll have somebody take a look at this.

[2015-05-04 22:36] Damavik commented on #22
Exactly the same crash is still reproducible (with the latest commit c74135c). I only noted that NO crash occurs when audio jack reader has been plugged in before activating (pairing) BT reader. But if no readers attached before activating BT one then crash occurs constantly.

[2015-05-18 19:38] hshafique opened #30 "installation instructions"
Can you please provide installation instructions? Can this SDK be installed using CocoaPods?

Thanks

[2015-05-20 20:40] ppmtscory commented on #30
All of the documentation that we have available is located in the Docs folder.  You should just need to import the appropriate bundles and framework that are located within the SDK folder of the repo.  Are you having issues with the import or errors due to that?

As for CocoaPods, no, I'm not aware of a way to use that for installation.

[2015-05-26 20:10] #30 closed

[2015-06-18 06:04] achyutrk opened #32 "ios validation issue"
Hi Guys,

My app builds properly but when i try to validate I get the attached warning from app store. I think this will reject the application. If you could please help me with PayPal here SDK. I have used the latest SDK. I get error with "deepcopy"

After removing PayPal SDK validation error was fixed so it was something related to PayPal.

![paypal_error_private_selector](https://cloud.githubus

[2015-06-18 13:57] ppmtscory commented on #32
Do you have the '-ObjC' linker flag set?  In Xcode it's under your app in build settings > linking > other linker flags.  The flag that needs to be added is "-ObjC".

[2015-06-18 14:09] jaredegan commented on #32
The SDK uses an NSDictionary extension that has a `deepCopy` method. I don't think adding `-ObjC` will do anything about this warning. It's coming from Apple's App Store submission process, not from Xcode's compilation.

That being said, this is a false positive. We're not actually using whatever non-public selector the validation warns about. It's just a category method that is named the same. I

[2015-06-22 19:05] ppmtscory commented on #32
Thanks @jaredegan.  I'm going to close this issue now but please let us know if your app submission is rejected due to this particular warning.

[2015-06-22 19:05] #32 closed

[2015-07-13 12:50] BenLeggieroNCR opened #36 "Create a 1.5 release"
Please create a release package for version 1.5

[2015-07-15 22:36] jforjava1981 opened #37 "Paypal Here Integration - Wrong screen displayed"
I am trying to integrate Paypal here. For that I want to allow to activate merchants on my backend web application. For this I have been following ios sdk docs and specifically onboarding guide to do this. I am also referring to REST api reference of Paypal. I am so far successful up to a stage where I am able to retrieve the authorization code and get initial access_token,refresh_token using the

[2015-07-16 18:00] ppmtscory commented on #37
@jforjava1981 This is the first image that's seen as it's recognizing the login from the previous "signup" page so that the customer doesn't need to login to their account a second time in the same flow.  Once they click "Continue" then they will see a list of the permissions that you are requesting.  The screen with the scopes is the only one outlined in the Guide to show what it would look like.

[2015-07-16 20:19] jforjava1981 commented on #37
Ok. But regarding the image ..As per your opinion that the permission listing image is displayed after the image I have attached. However when I click on continue on the image I attached paypal shows a box which says "Verifying information.." and immediately redirects to my site. It never really shows any permission listing even though i have enabled email and address scopes along with paypal here

[2015-07-16 20:45] ppmtscory commented on #37
@jforjava1981 you will only see the permissions the first time that you grant them.  If you login with an account that's already granted permissions, then they will skip that page and just be redirected.

[2015-07-17 17:25] #37 closed

[2015-07-18 06:07] jforjava1981 commented on #37
@ppmtscory Sorry for asking the question again for question  number 3) REST API reference has URL :
https://api.sandbox.paypal.com/v1/identity/openidconnect/tokenservice

and guide has URL :
https://api.sandbox.paypal.com/webapps/auth/protocol/openidconnect/v1/tokenservice

So for live transaction testing which one I should use :
https://api.paypal.com/v1/identity/openidconnect/tokenservice
OR
htt

[2015-07-20 13:24] ppmtscory commented on #37
@jforjava1981 Either should work so just use the one from the Merchant Onboarding guide for consistency.

[2015-07-22 18:22] jforjava1981 opened #38 "Paypal getting new Access token from refresh token doesn't work"
Hi,
this is the second issue I am facing with Paypal Here integration. When I got initial access token I got a refresh token as well. However when I try to get new access token using the refresh token I initially received I either get request timeout or response which says 500-Internal Server error.

I will give how I am trying to fire URLS using CURL util  before I try it using in actual code. Ra

[2015-07-22 21:20] ppmtscory commented on #38
@jforjava1981 can you validate that your curl request looks like this?
[code]

[2015-07-23 18:49] jforjava1981 commented on #38
This is strange now...Please find below my request formatted accourding to your format:

curl -v https://api.sandbox.paypal.com/v1/identity/openidconnect/tokenservice -H "Content-Type: application/x-www-form-urlencoded" -H  "Authorization: Bas
ic  AXMK4HhrTAJGcjKWFpiwqs3gtYhn_glZaM0uNs60aHMy7Po81YWK1oBWVEMuSF4Zfl5tvt-EmHcnwGjl:EL_WLvEInLTRlmJp7ZqhABPXCNAnUlF0it4MVeKlNdkSRpm1gkl3ZOu5MUMR9hZ6PqXwdTo

[2015-07-23 18:53] jforjava1981 commented on #38
Also eralier request(mentioned in original post ) had simiar headers attached by curl by default.So everything was same its just that I explicitly added content type header and Authorization:Basic header instead of using -u option which actually did the same thing and added Authorization header automatically.

[2015-07-23 18:54] jforjava1981 commented on #38
Please let me know if you can have a quick skype call as this is a major bloker for upgradint to test server from our dev sever.

[2015-07-23 19:37] jforjava1981 commented on #38
Well Somehow I resolved the error "CliendId or secret is null : ivalid client by base64 encoding the entire string "{client_id}:{secret}"  and setting it as part of Authorization header. however I get follwoing response like posted in original post:

{"error_description":"POST /v1/oauth2/token returned a response status of 500 Internal Server Error","error":"500","correlation_id":"2b789ba392b56","

[2015-07-23 21:42] ppmtscory commented on #38
It actually looks like a previously closed account with the same email address may be causing a conflict.  Can you please go to developer.paypal.com, create a new app that's tied to a different email address than the one you currently have tied to that client ID, and then try the full onboarding flow again?  This should allow you to use different client ID/Secret as well as brand new refresh token

[2015-07-24 03:25] jforjava1981 commented on #38
OK.let me do that and get back with results.

Thanks,
Shailesh

On Friday, July 24, 2015, Cory <notifications@github.com> wrote:

[2015-07-25 17:36] jforjava1981 commented on #38
Hi Cory,

        Nothing worked. So Just to take a chance I changed the URL from
 https://api.sandbox.paypal.com/webapps/auth/protocol/openidconnect/v1/tokenservice
to
https://api.sandbox.paypal.com/v1/identity/openidconnect/tokenservice

And it worked. However I was using  URL https://api.sandbox.paypal.com/webapps/auth/protocol/openidconnect/v1/tokenservice
as suggested by you in earlier issue

[2015-07-25 17:40] jforjava1981 commented on #38
I have another question. When I sent sope value : openid email address https://uri.paypal.com/services/paypalhere https://uri.paypal.com/services/paypalattributes/business it gave me invalid scope error with URL https://api.sandbox.paypal.com/webapps/auth/protocol/openidconnect/v1/tokenservice, when I tried to retrieve the code. I had enabled corresponding scopes on my sandbox account. Does it tak

[2015-07-28 17:23] ppmtscory commented on #38
I'm not sure why you are having so many issues with the URLs as I'm able to use either one to generate an access token from a refresh token.  Either way, continue to use the one that works for you.  For your latest questions, I believe it's good practice to include the general openid scope along with the other scopes.  The Address Information section underneath the Log In with PayPal section would

[2015-08-02 17:18] um-developer opened #39 "iOS 8 compabtibility"
Hi,

Is SDKSampleApp working on iOS 8? I am having trouble detecting the card reader on iOS 8. The SDKSampleApp does not request microphone access either. If i change the deployment target to iOS 8, it fails to link with various link errors.

Any help in this regard would be helpful.

Thanks,
~Y

[2015-08-03 14:02] ppmtscory commented on #39
@um-developer I'm not seeing any issues with iOS 8 and the Sample App.  Running it on an actual device, it should request access.  If it's not given accesses to the microphone, then it's not going to be recognizing a swipe.  Can you elaborate more on your "link errors" as I am not seeing those either?

[2015-08-03 17:57] jforjava1981 commented on #38
Hi Cory,

 I am not able to understand why the URL and request which works at one point of times starts breaking after some time. this is really affecting my client's buinsess to launch the paypal Here integration.

 Here is the latest update on the request I am making to refresh token:

{"error_description":"Unable to refresh access token","error":"invalid_request","correlation_id":"842b6123bc302

[2015-08-03 18:11] jforjava1981 commented on #38
and https://api.sandbox.paypal.com/webapps/auth/protocol/openidconnect/v1/tokenservice URL still gives timeout error

[2015-08-03 18:34] ppmtscory commented on #38
@jforjava1981 First off, you don't need to specify scopes when exchanging a refresh token for an access token.  Secondly, that request is failing because it's trying to generate an access token from an account that's been closed.  You'll want to purge that refresh token and either go through the onboarding again with a different merchant account or you'll need to test with a different refresh toke

[2015-08-04 17:02] jforjava1981 commented on #38
Hi Cory,

I am sending this request with new merchant sandbox account only created afresh as you earlier pointed out. When this happened last time, I created the new merchant and did on boarding process again for that merchant. Why is it closed ?  It's still active there on my developer account. My developer account is shaileshinpune123@gmail.com. sandbox account is test4@martianmart.com. I don't

[2015-08-04 17:05] jforjava1981 commented on #38
I am still able to login to sandbox site with test4@martianmart.com. is this possible if its closed?

[2015-08-04 17:25] jforjava1981 commented on #38
I have no problems to add a new merchant and redo the on boarding again but what will guarantee that it will not be closed automatically? is there something in my hand to prevent that?

[2015-08-04 17:27] jforjava1981 commented on #38
This lets me down in front of my client as I do all the testing here on local and everything works fine with new merchant and new app I add and when I deploy that to our test server nothing works especially refresh token functionality. This is really getting ,my client pissed off as this happened twice.

[2015-08-04 18:18] ppmtscory commented on #38
@jforjava1981 your account test4@martianmart.com is still fine, open, and active.  The 'merchant' account (the one you put through the onboarding and generated a code/refresh/access token for) was closed.  Therefore, since the account was closed, you were no longer able to generate an access token from that refresh token.  Your test4@martianmart.com account is your 'Partner' account.  That's the a

[2015-08-04 18:30] jforjava1981 commented on #38
Ok Maybe I confused the account. But as you explain the merchant account I am using is test6@martianmart.com. Is this closed. I am able to login to sandbox account with this merchant.

[2015-08-04 18:33] jforjava1981 commented on #38
This is what I got in notification on 26 July. and for this merchant the refresh token functionality was working fine which is now not working.

Hello Roger Federer,

Your email is confirmed. Now that you’ve got PayPal you can easily offer your customers one-time payments, pay-as-you-go and subscriptions.
https://www.sandbox.paypal.com/us/cgi-bin/?cmd=_accountsetup-ppbasics

Starting to receive pa

[2015-08-04 18:45] jforjava1981 commented on #38
Ok seems to be working. Let me confirm again after working with it for a couple of times.

[2015-08-04 18:45] #38 closed

[2015-08-05 16:16] jforjava1981 opened #40 "Need help in paypal here integration"
Hi Cory,

  My earlier issue with refresh token functionality was resolved. Everything was working fine with urls. However the issue in ios sdk integration led us to believe that refresh functionality is not working.
The issue we now face is as follows :
 1) I have created a new merchant account test5@martianmart.com with business name as TEST CORP 7. (my developer account is shaileshinpune123@gma

[2015-08-06 17:46] ppmtscory commented on #40
The error suggests that the email was not able to be retrieved via the userinfo call.  When you sent this merchant through the on-boarding, did you specify 'email' as part of the scopes you requested permissions for?

[2015-08-07 13:18] jforjava1981 commented on #40
Yes I did it for TEST CORP 7.
And Now its not working for TEST CORP 2 as well.

[2015-08-07 15:49] ppmtscory commented on #40
Can you let me know the link to your onboarding?  I'd like to go through it with my test account.  Also, were you able to get everything working with the Sample App and this is only happening with your integration?

[2015-08-07 17:39] jforjava1981 commented on #40
I would like to give you link but I dont clearly understand what you mean by onboarding link?

What we are doing is as Follows:
Sequence of business process :
1) We add a merchant on our backend server app (Java web application) using our own interface. there we enter every possible information about merchant.
2) Now we provide Activate link against every merchant once it is added.
3) This "Activa

[2015-08-07 17:49] jforjava1981 commented on #40
Yes our iOS was able to run the sample App. But our integration is not working. It earlier worked with different merchant account but doesn't work now.

[2015-08-07 17:57] ppmtscory commented on #40
There were some issues with the dev portal recently that I believe are now resolved.  As for the onboarding, I'm referring to steps 2 or 3 that you mentioned above so that I can sign up with my merchant account.  I want to be able to see the permissions you are requesting and then see if my access token will work with your app.

[2015-08-07 18:15] jforjava1981 commented on #40
Ok. Here are the links :
1) https://www.sandbox.paypal.com/signup-pph : this is the URL where we submit onboarding form
2) https://martianmart.com/pricer/merchant/acceptMerchant?id=${merchant.id}
     Where ${merchant.id} is the id in our system for the merchant.
      Do you want me to add this for your merchant account and provide you the id in our system corresponding to your test account? howe

[2015-08-07 19:42] cesariel opened #41 "Local Sample-Server iOS / Integration Error"
If I have my sample-server in my computer, how can I configure the return URL from Paypal. Can you give me an example please?

I have:

exports.MY_HOSTNAME = "http://10.0.0.4";
exports.MY_PORT = 5000;
exports.MY_APP_URL = "http://x.x.x.x:5000//oauth";

Where x.x.x.x is the WAN IP given by (google "whats my ip").

But, when I run the server and the sample APP I keep getting the same Error:

Apparen

[2015-08-07 20:16] ppmtscory commented on #40
Where is the page on your side that submits the form post to the /signup-pph URL?  This is what I need, so that I can go through the whole flow with my account.  Once I go through the whole flow, then you should have an access token on file for my account as the 'merchant' account.

[2015-08-07 20:19] ppmtscory commented on #39
Closing due to inactivity - please feel free to open another issue if you have any further questions.

[2015-08-07 20:19] #39 closed

[2015-08-07 21:16] ppmtscory commented on #41
When are you getting this error?  What are you doing when this occurs and what is showing in the console log for the request?

[2015-08-08 05:11] jforjava1981 commented on #40
That's the secured page given access to only administrator.also before you submit that page you will need to enter the data related to your merchant account on our site.

I also have question about how it can work with my client id and secret unless I add your test account on my PayPal dev account. Please let me know if its possible to do a Skype call so that I can demo the process to you with a n

[2015-08-08 07:37] jforjava1981 commented on #40
Sorry Cory. Again there was some problem with scope configuration we had done in our .properties file which didn't have email and address as I earlier said. I put them and it started working.

However I don't understand why the merchant was onboarded successfully when the scope I specified was wrong. I had enabled email and address setting on dev account but didn't send it request for onboarding?

[2015-08-08 07:37] jforjava1981 commented on #40
I will close the issue when I repeatedly check everything again

[2015-08-08 22:49] ppmtscory commented on #40
@jforjava1981 it's hard to say what may have happened the first time since it was working but then wasn't and I haven't gone through your onboarding flow.  I'm glad to hear that you were able to correct it with your properties file.  For your documentation comment, yes, there are some improvements to be made.  We've made some but are also always trying to revamp them to be better.  The PPH SDK has

[2015-08-12 15:33] jforjava1981 commented on #40
Hopefully we will have everything all clear with in next couple of weeks. Thanks for keeping this issue open and your patience and positive response. I will make sure I close this as within next two weeks.

[2015-08-13 20:55] swire opened #42 "Swipe Issue w/ New Phonegap Plugin We Built for PayPal Here"
We have built a plugin for phonegap for the PayPal Here SDK and have everything nearly working. The only issue that remains is swipe.

When we send a test transaction, it's not making it through for swipe. It is for keyed entry though. We're not sure if it's the plugin or if it's something on PayPal's end.

Alex and Brian, please post specifics for this issue to be addressed.

[2015-08-13 21:27] bcgood commented on #42
We're having trouble passing the swiped card info to make a PayPal payment from our end. Seems like a method in our PayPalHerePlugin.m file is not returning anything to the App which is the successHandler for PayPal's method for processing payment. The theory so far might be our callback is expiring but we're still looking into it.

@AlexGamezo will be expounding on it soon, with code, as he has t

[2015-08-13 21:42] ppmtscory commented on #41
Closing due to inactivity.  If you continue to have issues, please feel free to reopen with the answers to the above questions.

[2015-08-13 21:42] #41 closed

[2015-08-13 21:43] ppmtscory commented on #42
Thank you for creating a plugin!  Please do keep us posted if you think there's an issue within the SDK.

[2015-08-13 21:43] ppmtscory commented on #40
Thank you for the update.

[2015-08-14 07:19] swire commented on #42
We were able to resolve the issue tonight and have the new plugin working :)

[2015-08-14 07:19] #42 closed

[2015-08-14 14:45] um-developer opened #43 "SDKSampleApp unable read swipe"
Hi,

I am trying to run the SDKSampleApp, but it is unable to read card swipes. The interesting part is it is not even asking for microphone access. Is there a change in project settings that need to be done so it can get microphone access?

Thanks,
~D

[2015-08-14 16:01] ppmtscory commented on #43
There shouldn't be anything extra that needs to be done to the project.  Is there anything that shows up in the console log as far as the reader being detected?  Also, can you validate that you are not using the NOHW version of the sample app?  I'm not seeing the same issue, so if you can provide any information about your device/testing/etc to help me reproduce, that would be great.

[2015-08-14 19:01] um-developer commented on #43
Thanks for quick reply. This is what i am getting in the logs. I have testing this using iPad running iOS 9, iPhone running iOS 8.4

I see it is having trouble connecting to a config server?

Error: Error Domain=NSURLErrorDomain Code=-1004 "Could not connect to the server." UserInfo=0x6214a0 {NSErrorFailingURLStringKey=https://pph-mobileconfig.ebaystratus.com/ios-sdk-features-1.2.json, _kCFStreamE

[2015-08-14 19:31] ppmtscory commented on #43
No, that shouldn't be the culprit.  I see the same thing in my logs, from an older config server.  When I get in, I click Simple Transaction > Purchase > Credit Card: Swipe.  When I plug in the swiper after the app opens, that shows me the volume alert box and, if I hadn't loaded the app yet before, the alert to allow access to the microphone.  On the screen to swipe, it shows me messages of reade

[2015-08-15 00:04] um-developer commented on #43
That is the trouble i am having. The SDKSampleApp does not even list in the privacy->microphone section. It is as if the SDK is not even trying to access it? Any other idea?

[2015-08-17 15:12] ppmtscory commented on #43
Is your volume turned all the way up on your device?  Are you sure you're not using the NOHW version of the Sample App?

[2015-08-17 15:49] gpradeep opened #44 "Unable to login"
I created a sandbox test user and successfully logged in through browser.(https://www.sandbox.paypal.com/)
But when i tried same thing in sample app I was unable to login
Can you please help me on this

[2015-08-17 15:50] jaredegan commented on #43
If it's not showing up in the privacy section of the Settings app, then the line of code asking for permission is just never running. The failing json could be the issue if the SDK uses that to decide to listen.

Cory, can you delete the sample app and reinstall it to try and reproduce? The featuremap could be cached for you, so the missing json file wouldn't necessarily be an issue.

I've raised

[2015-08-17 15:54] jaredegan commented on #43
FYI, Just talked to another dev and he says the JSON file shouldn't been an issue, since the SDK ships with a cached version.

[2015-08-17 16:04] ppmtscory commented on #44
Are you trying to login on the very first screen that also asks you to choose your server (sandbox, live, stage)?  If so, then that's a login for the sample heroku server that the App uses.  The default user is 'teashop' and the default password should pre-populate.  If that doesn't work, for whatever reason, then I've created you a username: gpradeep and your password is 8, 1's (11111111).  Once

[2015-08-17 16:04] #44 closed

[2015-08-17 16:25] um-developer commented on #43
I don't see a NOHW version of the app. I only see one version of the application. How do i know if it is NOHW?

~Um

[2015-08-17 16:25] gpradeep commented on #44
Thank you very much.

[2015-08-18 13:43] ppmtscory commented on #43
In the SDKSampleApp folder, the first Xcode project listed is the NOHWSampleApp.xcodeproj.  This one is the NOHW Sample App which means it doesn't have any of the hardware libraries included.  This version would be for developers that are already using a Magtek library and want to control all of the swiper functionality on their own.

[2015-08-18 21:46] cesariel commented on #41
Hi ppmtscory,

What I'm trying to do is to put the sample-server in Heroku, but when I'm deploying I received this error:

cesarielrp$ git push heroku master

Counting objects: 2071, done.
Delta compression using up to 4 threads.
Compressing objects: 100% (1926/1926), done.
Writing objects: 100% (2071/2071), 3.17 MiB | 223.00 KiB/s, done.
Total 2071 (delta 435), reused 0 (delta 0)
remote: Compress

[2015-08-18 21:52] cesariel opened #45 "Sample-server to Heroku Error"
Hi,

What I'm trying to do is to put the sample-server in Heroku, but when I'm deploying I received this error:

cesarielrp$ git push heroku master

Counting objects: 2071, done.
Delta compression using up to 4 threads.
Compressing objects: 100% (1926/1926), done.
Writing objects: 100% (2071/2071), 3.17 MiB | 223.00 KiB/s, done.
Total 2071 (delta 435), reused 0 (delta 0)
remote: Compressing source

[2015-08-18 22:45] um-developer commented on #43
I have confirmed that I am not using NOHWSampleApp. Any other idea as to what is going on?

~Um

[2015-08-19 14:26] ppmtscory commented on #41
Will work this through issue #45

[2015-08-19 14:36] ppmtscory commented on #45
Just from a general review, it doesn't seem to be an issue with the sample server itself, but I will chat with the folks that worked on it and see if they have any suggestions.

[2015-08-19 14:51] cesariel commented on #41
Perfect!

[2015-08-19 14:53] cesariel commented on #45
The support in Heroku, told me that the version of Nodes and Npm are too old.

[2015-08-19 14:56] cesariel commented on #45
Can you verify that the sample server deploy here:

http://sdk-sample-server.herokuapp.com/

Is the same as here:

https://github.com/PayPal-Mobile/ios-here-sdk-dist/tree/master/sample-server

[2015-08-19 15:06] ppmtscory commented on #45
Absolutely, thank you for that update.  I will have somebody check that has access.

[2015-08-19 16:15] djMax commented on #45
Truth is it would probably be better to move to this new server: https://github.com/djMax/paypal-retail-node but I haven't quite made it work with the existing SDK. The main difference, besides being more current and having a "deploy to heroku" button, is that there is no "mid tier" account concept, you just login to paypal and store the tokens you get somewhere of your choosing. If that seems lik

[2015-08-19 16:27] ppmtscory commented on #43
Are you modifying any code within the Sample App?  Anything that would conflict with the permissions?  This is difficult since I'm not able to reproduce with the same scenario.

[2015-08-20 09:19] swire opened #46 "Sign Up Load Error"
We're done with our integration except for one final piece. We are getting this 'Load Error' — see bottom of picture where the status updates to 'Load Error' once you tap 'Sign Up'...

We've built a PhoneGap plugin and sync and all transaction features are working, except for this.

We want the user to:
- tap 'Sign Up' and to complete the sign up flow within our app,
- then be dropped off to the n

[2015-08-20 12:28] cesariel commented on #45
That will be great, are you working on that right now?

[2015-08-20 19:25] ppmtscory commented on #46
Unfortunately the onboarding piece doesn't have a native flow.  Are you doing this inside of a webview?  Is there any extra information about what the 'error' actually is?  Anything in the console logs?   As for email, yes, if user's are signing up for PayPal, then they will receive an email with a link to confirm their email address.  The onboarding flow will complete, but they will need to confi

[2015-08-20 20:06] bcgood commented on #46
No error, I opened the sign up link to https://www.sandbox.paypal.com/us/cgi-bin/webscr?cmd=_registration-run on a desktop and it works fine. I'm digging more into it and it seems to be a bug relating to phonegap inapp browser when trying to open the link.

[2015-08-20 20:17] ppmtscory commented on #46
Thanks for the update @bcgood, please keep us posted.

[2015-08-20 21:29] djMax commented on #46
I doubt the flow can be completed in app, as the point of the email is essentially a second auth factor. I suppose you could access their email to try and fetch the confirmation code, but that sounds like more trouble than it's worth.

[2015-08-20 21:30] djMax commented on #45
Yes. We've modified the soon-to-be-pushed-to-github version of this SDK to be directly compatible with this new midtier. If timing is critical, I can modify the server to work with the old one too. Which works for you - wait a week (+/-) for new SDK or I modify the server to handle old SDK in the next couple days?

[2015-08-20 22:00] swire commented on #46
@djMax the email doesn't have to be confirmed during the onboarding - we can simply provide an alert before making a transaction in our app that they'll have to confirm via email before making a transaction.

Thus, we're simply stuck on the in-app browser for PhoneGap not working, providing the 'load error' when the 'Sign Up' text link is tapped.

@ppmtscory
PhoneGap boards and support are turning

[2015-08-20 22:22] swire commented on #46
@ppmtscory also, if you try other text links in the in-app browswer, they do work, which is strange. It's only the 'Sign Up' link. We don't know what is different about the 'Sign Up' link so I'm not sure we can do anything about it. I think it's on your end.

[2015-08-20 22:28] cesariel commented on #45
I can wait for the best. Thanks for your great effort!

[2015-08-20 22:31] cesariel commented on #45
Can you tell me why this sample server works? I did my test and it works!

http://sdk-sample-server.herokuapp.com/

Do they change the sample-server ?

[2015-08-20 23:13] djMax commented on #45
No, that hasn't changed. So the paypal-retail-node module has been updated and should work with the existing SDK. You would send them to login with a URL like

[code]

Then after login, it will come back to some url like:

[code]

If what you have is working, no need to change. But I'd assume at some point you'd want your own server, and the paypal-retail-node version will make that a lot easier.

[2015-08-20 23:19] djMax commented on #46
Do you have any sort of logs of the HTTP requests the browser is trying to make (and their results?)?

[2015-08-20 23:20] djMax commented on #46
Any way for us to get the app to reproduce it here @ paypal?

[2015-08-20 23:25] swire commented on #46
@djMax - I'm asking @bcgood to reply to you on this. He'll get back to you in a few minutes.

[2015-08-20 23:27] djMax commented on #46
If you need to send me email it's just my first initial and then last name @ paypal.com

[2015-08-20 23:50] bcgood commented on #46
@djMax I'm unable to grab the HTTP requests from the inapp browser. A way to reproduce it would be to open the url which starts the sync process from PayPal Here in the inapp browser of a Cordova PhoneGap app and then clicking on Sign Up.

[2015-08-21 00:29] swire commented on #46
@djMax - Brian's solution to test should be simple with a sample app (any sample cordova phonegap app). Or, we can get you access but that will take longer. Let us know.

[2015-08-21 00:39] ppmtscory commented on #46
I think I may see something here... give me a couple minutes to examine...

[2015-08-21 00:44] ppmtscory commented on #46
@bcgood or @swire can you please try https://www.sandbox.paypal.com/signup/account in the in-app browser and let me know if that will work?

[2015-08-21 00:45] bcgood commented on #46
@ppmtscory Let me give it try and I'll get back

[2015-08-21 00:51] bcgood commented on #46
@ppmtscory yes it works fine

[2015-08-21 00:56] ppmtscory commented on #46
Ok, thank you.  So with the sandbox URL, there's a bad redirect on our end that seems to be causing your frustrations.  I will follow up with our onboarding team to have this corrected.  Good news is that it won't require any extra integration work on your end when it's fixed.  Even better news is that it's only happening on sandbox and Live is fine.  If you'd like to test Live, the URL is https:/

[2015-08-21 01:08] swire commented on #46
That is really great news @ppmtscory - do you expect it to be fixed by tomorrow morning perhaps or longer? We would love to test it before pushing this update to Apple tomorrow. We are so many weeks behind schedule now we really need to push tomorrow. We're a little nervous to just trust it will work when Live as if it doesn't we'll be setback at least two more weeks due to the app review wait tim

[2015-08-21 01:12] ppmtscory commented on #46
@swire you are going to submit to Apple using the Sandbox endpoints?

[2015-08-21 01:20] ppmtscory commented on #46
I have sent the issue off to the right folks to correct it.  Unfortunately I can't give you a guarantee on it being fixed tomorrow morning.  They'll most likely need to wait for the next release window.  I'm not certain when that is right now but I can definitely update you back here when it's fixed.  I pasted the Live URL up above if you want to test that out in the in-app browser.  It redirects

[2015-08-21 01:30] swire commented on #46
Thank you. We have to push tomorrow so we'll cross our fingers and hope for the best. We'll test the live one now.

---
Zack Swire
eGood.com/Zack

626-641-9198
zack@egood.com

[2015-08-21 02:03] bcgood commented on #46
@ppmtscory I've just tested with a live url and the sign up link does work. I'm however unable to test the flow to see if I actually get an OAuth code back that I can exchange for an OAuth token because my application keeps getting rejected in the end. Is there anyway around I can test that or is the only way to just wait until PayPal resolves this issue?

[2015-08-21 02:10] ppmtscory commented on #46
Are you talking about an application after that signup link?  The application for PPH should take place before that page even happens.  If you're directing customers to this page directly, then that should be if they already have an account, have been approved for PPH, and this flow is to grant the permissions to you to process on their behalf.  Let me reach out to you on email and get some more i

[2015-08-21 04:02] cesariel commented on #45
It work but in their own sample server...

http://sdk-sample-server.herokuapp.com/

As I commented, when I try to deploy my own sample-server it give me those errors. But the SampleApp that they provided with the sample-server in Heroku, works.

[2015-08-21 04:10] djMax commented on #45
Oh, I see. Yeah, I'm not shocked that the old sample server is harder to setup and get working. Now that the new one should work, I'd use that.

[2015-08-21 04:23] cesariel commented on #45
I'm reading the documentation right now on how to use your palpal-retail-node

[2015-08-21 17:30] ppmtscory commented on #46
Per our phone conversation, I'm going to go ahead and close this issue out.  If anything else is needed, please don't hesitate to let us know.

[2015-08-21 17:30] #46 closed

[2015-08-24 01:41] um-developer commented on #43
I haven't made any changes to the code, can you please confirm what version of Xcode you are using and what iOS version are you testing on? Also are you testing on iPhone or iPad?

~Um

[2015-08-25 16:37] cesariel commented on #45
@djMax Can you tell me if my app is running correctly? Logs:

2015-08-25T16:02:08.507305+00:00 app[web.1]: > paypal-retail-node@1.0.0 start /app
2015-08-25T16:02:10.649752+00:00 app[web.1]: WARNING The server is only configured for Sandbox.
2015-08-25T16:02:10.652126+00:00 app[web.1]: /*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
2015-08-25T1

[2015-08-25 19:09] djMax commented on #45
It seems like the live environment vars (app id, secret) information is not set, and then it's trying to go to that environment and failing. I should make this error better. Can you confirm that's the problem?

[2015-08-26 02:57] cesariel commented on #45
Yes! Exactly! I'm right now only using Sandbox, and the Live Variables Empty

[2015-08-26 03:14] cesariel commented on #45
When I try to open the URL:

http://rodinf.herokuapp.com/setup/sandbox

I'm getting this error:

access_denied Invalid authorization code

Logs from Heroku:

2015-08-26T03:09:18.904569+00:00 app[web.1]: Failed to handle returnFromPayPal: access_denied Invalid authorization code
2015-08-26T03:09:18.904576+00:00 app[web.1]: Error: access_denied Invalid authorization code
2015-08-26T03:09:18.904578+0

[2015-08-27 04:21] djMax commented on #45
When I hit that page I get a redirect URI mismatch. Did something change? (Sorry, been traveling the past couple days)

[2015-08-27 18:42] cesariel commented on #45
Don't worry! :D

Now, today I received this message (Attached)

<img width="1277" alt="screen shot 2015-08-27 at 2 41 28 pm" src="https://cloud.githubusercontent.com/assets/13699157/9529702/d4f2f298-4cc9-11e5-8337-fdccc6fe8ebd.png">

[2015-08-27 21:28] djMax commented on #45
That would certainly seem to indicate a mismatch between the ROOT_URL setting of your paypal-retail-node server and your app on developer.paypal.com. What is the return url set to on developer.paypal.com?

[2015-08-28 20:24] cesariel commented on #45
@djMax I'm still receiving the same error:

2015-08-28T20:22:54.407873+00:00 app[web.1]: Failed to handle returnFromPayPal: access_denied Invalid authorization code
2015-08-28T20:22:54.407877+00:00 app[web.1]: Error: access_denied Invalid authorization code
2015-08-28T20:22:54.407879+00:00 app[web.1]:     at /app/index.js:104:33
2015-08-28T20:22:54.407880+00:00 app[web.1]:     at /app/node_modules

[2015-08-28 20:41] cesariel commented on #45
I don't even see the redirect to Paypal for login in...

<img width="1277" alt="screen shot 2015-08-28 at 4 40 34 pm" src="https://cloud.githubusercontent.com/assets/13699157/9556544/892db75a-4da3-11e5-9255-f93bce5d8033.png">

[2015-08-29 03:30] djMax commented on #45
I've made a set of changes aimed at printing better information in the logs. Deploy the latest and let me know how it goes

[2015-08-29 03:37] djMax commented on #45
I have a feeling I know the problem - I don't think your app has access to a scope that it's supposed to have access to.

[2015-08-31 00:00] cesariel commented on #45
Ok, let me try right now

[2015-08-31 00:19] cesariel commented on #45
It's giving me this error:

2015-08-31T00:18:37.577796+00:00 app[web.1]: Failed to handle returnFromPayPal (unknown environment): Login with PayPal Error! invalid_scope: Client Validation Error: Invalid scope.
2015-08-31T00:18:37.577800+00:00 app[web.1]: Error: Login with PayPal Error! invalid_scope: Client Validation Error: Invalid scope.
2015-08-31T00:18:37.577802+00:00 app[web.1]:     at Object

[2015-08-31 00:35] djMax commented on #45
What checkboxes are checked for your app permissions on developer.paypal.com?

[2015-08-31 01:37] cesariel commented on #45
All off them

<img width="897" alt="screen shot 2015-08-30 at 9 36 16 pm" src="https://cloud.githubusercontent.com/assets/13699157/9570663/38e44954-4f5f-11e5-900e-506ad7d942f5.png">

[2015-08-31 01:39] cesariel commented on #45
The deploy to heroku button, give me an error, that the git was private

[2015-08-31 01:39] cesariel commented on #45
So I deploy manually, clone and deploy...

[2015-08-31 01:48] djMax commented on #45
Very strange, maybe that's because I moved it to the paypal org. Let me update the link in the readme. Can you PM me the email address associated with your account? I can double check in the morning. BUT, in the meantime, since you've cloned... In index.js on line 22 you'll see a list of scopes. Your app must be missing one of them (through no fault of your own). Can you fiddle with that list of s

[2015-08-31 01:50] cesariel commented on #45
Of course! My email is: rodriguezcesarariel@gmail.com

[2015-08-31 01:52] cesariel commented on #45
if (!options.scopes) {
            options.scopes = 'openid email phone profile address https://uri.paypal.com/services/paypalhere https://api.paypal.com/v1/payments/.* https://uri.paypal.com/services/paypalattributes/business';
        }

[2015-08-31 01:53] cesariel commented on #45
Do you want me just to let: openid email

[2015-08-31 01:57] cesariel commented on #45
The same:

2015-08-31T01:57:10.133045+00:00 app[web.1]: Failed to handle returnFromPayPal (unknown environment): Login with PayPal Error! invalid_scope: Client Validation Error: Invalid scope.
2015-08-31T01:57:10.133051+00:00 app[web.1]: Error: Login with PayPal Error! invalid_scope: Client Validation Error: Invalid scope.
2015-08-31T01:57:10.133054+00:00 app[web.1]:     at Object.module.exports.c

[2015-08-31 02:05] cesariel commented on #45
YES !!

It works only leaving the "openid" parameter !!!

[2015-08-31 02:06] cesariel commented on #45
<img width="565" alt="screen shot 2015-08-30 at 10 05 55 pm" src="https://cloud.githubusercontent.com/assets/13699157/9570904/4fb42150-4f63-11e5-88e1-b682ac654719.png">

[2015-08-31 02:13] djMax commented on #45
Wow, that is very odd. Ok, once you get through let me know if the rest works... I'm skeptical.

[2015-08-31 02:14] cesariel commented on #45
Ok! Me too !!

Let's see !!!

[2015-08-31 02:16] cesariel commented on #45
Yes, it gave me the token (picture attached)

<img width="916" alt="screen shot 2015-08-30 at 10 16 07 pm" src="https://cloud.githubusercontent.com/assets/13699157/9570986/c9ccae0c-4f64-11e5-98a1-eb9de84bd98a.png">

[2015-08-31 02:17] cesariel commented on #45
What do you think about the scopes? :D

[2015-08-31 02:26] cesariel commented on #45
As I'm reading in the documentation... Do you think that the order in which the parameters are sent influences:

This method specifies the OAuth scopes you're interested in, which must include the PayPal Here scope, defined as (1) https://uri.paypal.com/services/paypalhere (2) https://uri.paypal.com/services/paypalattributes/business (3) OpenID, (4)email (5)Phone, (6)Profile and (7)Address

------

[2015-08-31 02:26] djMax commented on #45
order should not matter. I assume if you put openid back, regardless of location, it starts failing?

[2015-08-31 02:29] cesariel commented on #45
I will try, and let you know!

[2015-08-31 02:31] cesariel commented on #45
True... I doesn't work if I put "email"

[2015-09-03 22:36] cesariel commented on #45
@djMax How can I refresh the token?

[2015-09-03 22:45] djMax commented on #45
The sdk should do it for you by hitting the server you created

[2015-09-10 01:53] cesariel commented on #45
Thanks !!!! Nice !!!

[2015-09-10 03:05] cesariel commented on #45
@djMax Do I have to decrypt the token once I got it? Like shown in the Sample App

[2015-09-10 13:32] djMax commented on #45
No, if you are using the 1.6 branch, there's a "setupWithCompositeTokenString" that will take care of it. If not, then yes, you'd need to unpack the base64'ed JSON and set stuff. But I'd suggest using 1.6. :)

[2015-09-10 20:40] cesariel commented on #45
I see! Thanks!

[2015-09-10 23:06] JonChristensen opened #47 "Managing/supporting multiple users"
We have a kiosk app that users paypal here. And we need for several users in our company to be the main authenticating user for PayPal here -- these users will be the users that are actually near the kiosk installations -- we do not want to tell all of the the email and password of the main account that was used to setup PayPal here in the first place.

I can see that there is a way to add users t

[2015-09-11 00:41] ronaldsmartin commented on #43
Hi @ppmtscory,

Has this been resolved yet? I am also running into the same issue on my iPad Air 2 (iOS 8.4.1, Xcode 6.4). Can confirm that this is `SDKSampleApp.xcodeproj` and not `NOHWSampleApp`.

Here's the logs after navigating to the **Credit Card: Swipe** screen:

[code]

but like @um-developer, I received no prompt to access the microphone, and thus there's no entry yet in my Privacy Settin

[2015-09-11 02:30] djMax commented on #43
Can you try manually asking for microphone permission before initializing the SDK merchant? Here is a code snippet:
[code]

[2015-09-11 02:33] djMax commented on #47
The conventional wisdom here would be that your "multiuser" stuff should be in your system rather than ours. You put your own login on top of your system that guards access to the single access/refresh token for the core account that you got by the main user having logged in and given consent. Part of the issue is exactly that consent, because it's a bit odd for a secondary account to grant consen

[2015-09-11 02:53] JonChristensen commented on #47
Thanks @djMax you triggered and idea.  The issue right now is that we're bringing up a webview in the app where a user has to put in the paypal email and password of our main account holder. So that doesn't work in cases where a third party would need to install the app or uninstall/reinstall becuase we do not want to tell that third party the username and password of our main account.  BUT you ma

[2015-09-11 03:41] djMax commented on #47
Yes, that's definitely possible and a common integration pattern. There's a longer writeup about the overall concept [here](https://github.com/paypal/paypal-retail-node), and a server that will generate tokens for you. So if you put your own login system in front of it, then just dish out the access token once they login, or make the call on their behalf from the server, you'd be fine.

[2015-09-11 13:31] ppmtscory commented on #40
Closing due to inactivity.  If any issues reoccur, please feel free to open another issue and reference this one.

[2015-09-11 13:31] #40 closed

[2015-09-11 17:00] ronaldsmartin commented on #43
@djMax: Thanks, that at least got the microphone permission set.

However, I still can't get Simple Transaction > Credit Card: Swipe to work. After setting some breakpoints in `STCardSwipeViewController`, it doesn't look like `PPHTransactionManagerDelegate`'s `onPaymentEvent:` method is being called for most events. I haven't narrowed down the exact path, but sometimes when I hit **Back** after sw

[2015-09-11 17:05] cesariel commented on #45
I migrate to 1.6 but when I'm calling:

[PayPalHereSDK selectEnvironmentWithType:ePPHSDKServiceType_Sandbox];

I get this error:

2015-09-11 12:58:51.049 AmwayBusinessManager[16381:1682513] -[__NSDictionaryM jsonDescription]: unrecognized selector sent to instance 0x7f8f7842d820
2015-09-11 12:58:51.058 AmwayBusinessManager[16381:1682513] *** Terminating app due to uncaught exception 'NSInvalidArgu

[2015-09-11 17:10] cesariel commented on #45
Debug:

2015-09-11 13:09:35.376 AmwayBusinessManager[16509:1694044] 17:09:35.0373      Main thread | PayPalHere: +[PayPalHereSDK setLoggingDelegate:] entry
2015-09-11 13:09:35.377 AmwayBusinessManager[16509:1693984] Debug: PayPalHere: Could not find PPH.SavedLocation in keychain (result code = 4294941996)
2015-09-11 13:09:35.377 AmwayBusinessManager[16509:1694044] 17:09:35.0373      Main thread |

[2015-09-11 18:25] djMax commented on #45
are you using the composite token? If so you don't need this environment thing. But that error looks suspiciously like a missing -ObjC linker flag. Can you verify you added that? We can/should fix this on our side by avoiding the category usage, but let's see if we can fix it directly for now.

[2015-09-11 19:08] #47 closed

[2015-09-11 22:39] cesariel commented on #45
Yes I added the following flags (picture):

<img width="577" alt="screen shot 2015-09-11 at 6 38 32 pm" src="https://cloud.githubusercontent.com/assets/13699157/9827811/5e1bde22-58b4-11e5-87cb-975f349c5e09.png">

[2015-09-11 22:47] cesariel commented on #45
But if I remove the flags:

<img width="548" alt="screen shot 2015-09-11 at 6 47 08 pm" src="https://cloud.githubusercontent.com/assets/13699157/9827945/90e682d4-58b5-11e5-8598-9894761b1be8.png">

[2015-09-11 22:51] cesariel commented on #45
Oh!! I change the flags to:

-lstdc++ -stdlib=libstdc++ -ObjC

And it build correctly!!!

[2015-09-12 11:11] djMax commented on #45
Yep, good old -ObjC. The only impact of that should be your app is slightly bigger. If it's a problem we can remove that category and hope there aren't more hiding behind it.

[2015-09-13 21:05] cesariel commented on #45
Ok! Understood ... :D ... Now I already authenticate the Merchant, I'm going to proceed to the payment.

[2015-09-13 21:05] cesariel commented on #45
Thanks @djMax for all your help and support !!! :smile:

[2015-09-14 00:32] cesariel commented on #45
@djMax

When calling:

[PayPalHereSDK setupWithCompositeTokenString:self.currentUser.pptoken
                                                        thenCompletionHandler:^(PPHInitResultType status, PPHError *error, PPHMerchantInfo *info) {

                                                            NSLog(@"The users has a Token already - Now payment!");

[2015-09-14 01:44] djMax commented on #45
That's the error returned by that method, or that's just an error thrown in the console?

[2015-09-14 01:45] djMax commented on #45
which environment were you trying to use?

[2015-09-14 01:58] cesariel commented on #45
This is the error when calling that method

2015-09-13 21:54:51.178 AmwayBusinessManager[20739:2311325] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'data parameter is nil'
*** First throw call stack:
(
	0   CoreFoundation                      0x00000001079edc65 __exceptionPreprocess + 165
	1   libobjc.A.dylib                     0x00000001072d9bb7 objc_excep

[2015-09-14 01:59] cesariel commented on #45
The environment is the iOS Simulator iPhone 6

[2015-09-14 02:00] cesariel commented on #45
@djMax I'm sending the token that the user already has in the database

[2015-09-14 07:17] um-developer commented on #43
Any updates on this? I would love to integrate the reader in my app

~Um

[2015-09-14 13:11] djMax commented on #45
It really seems like the token is invalid. What is the string before the first colon?

[2015-09-14 14:15] mpavlinsky commented on #27
I've submitted a pull request for this. Future SDK releases should be more friendly for partners that have the "Missing Newline At End Of File" warning enabled.

[2015-09-14 14:15] #27 closed

[2015-09-14 14:38] ppmtscory commented on #43
@um-developer @ronaldsmartin I think I'm seeing something here but would like you to confirm the same.  When you open the Sample App, click 'Custom Card Reader Controls' > 'Settings', and let me know what it says for the SDK Version.

[2015-09-14 16:30] ronaldsmartin commented on #43
@ppmtscory:

I see the following:

* SDK Version: **1.5.2.nhw**
* Sample App Version: **1001**
* Merchant Checkin Status: **[off]**
* Tax Rate: **.10**
* Payment Flow Type: **Full Capture**

[2015-09-14 16:36] ppmtscory commented on #43
Ah, ok, thank you for the confirmation.  It looks like the Sample App may be reading from the 'no hardware' version of the SDK.  I've escalated this internally to have somebody with access check and, if that's the case, make the change.  I'll keep you updated here.

[2015-09-14 16:46] ppmtscory commented on #43
Yes, it seems that's the case.  Please use the [1.5.1 version](https://github.com/PayPal-Mobile/ios-here-sdk-dist/tree/13e4a1cb741a10acee9a1072fc781c9deb9c5778) instead and let me know if you still have issues.

[2015-09-14 17:05] ronaldsmartin commented on #43
Thanks! I'll try this and let you know how it goes.

[2015-09-14 17:48] ronaldsmartin commented on #43
Hi @ppmtscory,

I rolled back to the tag you specified, but still have the same issue.

It looks like the SDK Version is still **1.5.2.nhw**.

[2015-09-14 18:14] ppmtscory commented on #43
Are you sure you are running that particular version of the sample app?  I just went to that tree, downloaded zip, and opened the Xcode project for SDKSampleApp and am not seeing any issues.  I'm able to swipe successfully.  The version on the settings page shows 1.5.1 accordingly.

[2015-09-14 18:49] ronaldsmartin commented on #43
@ppmtscory Whoops, you were right, sorry. However, after checking out the right tree (and seeing SDK Version = 1.5.1 in Settings), I'm still not detecting payment events in Simple Transaction > Swipes.

[2015-09-14 18:54] ppmtscory commented on #43
Have you removed everything on your device from the previous 1.5.2?  After doing so, are you getting prompted for microphone access now?  I went to simple transaction, purchase, selected card swipe, and then plugged in the reader.  On that page, when I plugged in the reader, I see messages saying that reader is being detected and then detected.  Once that completes, and I swipe, I then see the mes

[2015-09-14 19:03] ronaldsmartin commented on #43
@ppmtscory:

No, I didn't uninstall and reinstall the app. I was, however, able to make some progress just now via the following:

1. Custom Card Reader Controls > Pick a fruit > Purchase
2. Custom Listen for swipes > Select "RoamAudio"

From then on, `STCardSwipeViewController` receives the appropriate payment events after trying Simple Transaction again. So far, my attempts have resulted in `ePP

[2015-09-14 19:04] ppmtscory commented on #43
I think so, yes.

[2015-09-14 19:11] ronaldsmartin commented on #43
I went ahead and uninstalled and reinstalled. I didn't get re-prompted for Microphone access, but that's expected because iOS keeps those privacy settings cached for at least a day. The Simple Transaction then worked as expected; I stopped getting `ePPHTransactionType_FailedToReadCard` events after removing my breakpoint on the `onPaymentEvent:` method.

Thanks for your help, @ppmtscory!

[2015-09-14 19:12] mpavlinsky commented on #43
I changed master to point at 1.5.1 for now. The issues with 1.5.2 outweigh it's value.

Thanks to both of you for your patience.

[2015-09-14 19:32] ppmtscory commented on #43
Glad it's working for you now, @ronaldsmartin.  Since this version resolves the issue posted here, I'm going to close this.  Feel free to open another issue if you run into any other problems.

[2015-09-14 19:32] #43 closed

[2015-09-14 21:58] cesariel commented on #45
@djMax it's "sandbox:***************"

[2015-09-14 22:05] cesariel commented on #45
sandbox:WyJBMDE1NVRDejRnU0g

[2015-09-14 22:14] cesariel commented on #45
Do I have to take off the "sandbox:" part of the token?

[2015-09-15 00:49] djMax commented on #45
No, but that token is wildly too short. The latest node server generated that?

[2015-09-15 00:52] cesariel commented on #45
Nope

[2015-09-15 00:52] cesariel commented on #45
I cut it :D

[2015-09-15 00:52] cesariel commented on #45
sandbox:WyJBMDE1YTRHaUtlWDB0ek5TT1YzYWpnYmVDQmtTY3VYWEF3czN3TU01Ri1TR1JZRSIsIjI4ODAwIiwiaHR0cDovL3JvZGluZi5oZXJva3VhcHAuY29tL3JlZnJlc2g/JnRva2VuPTVFUjhXdXdqSERYYnlXYlZjWUhNT25lUng4dnJwa0NLJTJGT2hpbVJPTVhlaDF4SnpuJTJCRWIzNW4zSHo3b2FyblklMkZLWENDR3BXak5xWndXNXhGUGVleVZuRWQ3WUlab1Jtbm1JJTJGZVlnSSUyRmpmejQ4UUlxNXMzclUydkFwaU5FN3BHemhPJTJGU0E5WFNkdEhpd0hxTjlEVDRROE5kJTJCcUclMkZ1bmlWTzl5cXFLRlpkc2JINFFG

[2015-09-15 00:58] djMax commented on #45
That token does seem valid and generating new tokens. Hrmph.

[2015-09-15 01:00] cesariel commented on #45
Ok! So, after that, when I get it... I put the value of the token in a variable and call the function:

 [PayPalHereSDK setupWithCompositeTokenString:sdk_token
                               thenCompletionHandler:^(PPHInitResultType status, PPHError *error, PPHMerchantInfo *info) {
                                   NSLog(@"First Login Session - Now payment!");
                               }];

[2015-09-15 01:07] djMax commented on #45
And to confirm, in that example, the error referenced in the block (PPHError *error) is non-nil and set to that error you pasted above?

[2015-09-15 01:08] cesariel commented on #45
Yes

[2015-09-15 01:21] cesariel commented on #45
Oh! look what I found... In the heroic logs:

2015-09-15T01:21:08.679967+00:00 heroku[router]: at=info method=GET path="/returnFromPayPal?sdk_token=sandbox:WyJBMDE1NEZMUVJ1YWZHbGlDNUJCVUlYT2llYmNaZVpIS2dHWjZZN0xtSDA5enVPayIsIjI4ODAwIiwiaHR0cDovL3JvZGluZi5oZXJva3VhcHAuY29tL3JlZnJlc2g/JnRva2VuPSUyQjlRaXBSZCUyQjBIekxDJTJCd1NXSDRNWXB0ME9nYk95cXdFM2lDZjBlSVlFS1pOUklNWnhWNiUyRlBJR2RseWJRVG9zNlRyZ3FyTEFx

[2015-09-15 01:22] cesariel commented on #45
@djMax Sorry... In the "Heroku" logs ...

[2015-09-15 01:26] djMax commented on #45
That SDK token shouldn't be on the query string in a "returnFromPayPal" call. What do you do that triggers that?

[2015-09-15 01:27] cesariel commented on #45
I'm doing this:

NSString *urlString = @"http://rodinf.herokuapp.com/toPayPal/sandbox";
                                 NSURL *url = [NSURL URLWithString:urlString];
                                 NSURLRequest *request = [NSURLRequest requestWithURL:url];
                                 NSOperationQueue *queue = [[NSOperationQueue alloc] init];

                                 [NSURLConnectio

[2015-09-15 01:28] cesariel commented on #45
What I'm doing wrong?

[2015-09-15 01:28] djMax commented on #45
Ok, and then some sort of URL handler to get it back afterwards? What's the APP_RETURN_URL set to?

[2015-09-15 01:28] djMax commented on #45
I'm hoping SOMETHING, but not yet sure what. :)

[2015-09-15 01:28] cesariel commented on #45
LOL

[2015-09-15 01:29] cesariel commented on #45
APP_REDIRECT_URL = http://rodinf.herokuapp.com/returnFromPayPal

[2015-09-15 01:32] djMax commented on #45
Aha. That is not right. That is the URL which **PayPal** will redirect to after auth is complete. But then that URL needs to redirect to YOUR app. How are you currently detecting when authentication is complete? Typically APP_REDIRECT_URL would be something like mycoolapp://paypal/loggedIn

[2015-09-15 01:35] cesariel commented on #45
In the shouldStartLoadWithRequest function, I'm detecting the string "sdks_token" and get it from that url

[2015-09-15 01:37] djMax commented on #45
Although in theory that would work, it's better to do the custom protocol trick. And then return false for that request so it doesn't actually try to load it. So, can you check that the value of the token variable matches the one you see in the debugger? Wondering if there's some URL encoding silliness going on here.

[2015-09-15 01:37] cesariel commented on #45
Ok, let me see!

[2015-09-15 01:40] cesariel commented on #45
Yes is the same.... but now that I'm seeing ... If the token comes with the equal sign "=" I will not get it complete, because I use the "=" sign to parse the string :disappointed:

[2015-09-15 01:41] cesariel commented on #45
In this case:

WyJBMDE1NEZMUVJ1YWZHbGlDNUJCVUlYT2llYmNaZVpIS2dHWjZZN0xtSDA5enVPayIsIjI4ODAwIiwiaHR0cDovL3JvZGluZi5oZXJva3VhcHAuY29tL3JlZnJlc2g/JnRva2VuPSUyQjlRaXBSZCUyQjBIekxDJTJCd1NXSDRNWXB0ME9nYk95cXdFM2lDZjBlSVlFS1pOUklNWnhWNiUyRlBJR2RseWJRVG9zNlRyZ3FyTEFxV21KM0d6JTJGYmp3NEYlMkJCVjFVN0h5UHBId3NnbXhBSThGa2VkVmtaYTFZTCUyRmxVVGVGWiUyRkE5JTJGMW11RVUlMkJ0b1d6SXpFcDZJMGFuJTJGcGpZSWNQOHFxTWxSZmxqRmNue

[2015-09-15 01:42] cesariel commented on #45
Look the 2 equal sign at the end !!

[2015-09-15 01:44] cesariel commented on #45
So, in the developer site my return URL is http://rodinf.herokuapp.com/returnFromPayPal

But in the heroku page it must be set to

abmapp://paypal/loggedIn

[2015-09-15 01:44] cesariel commented on #45
*paypal developer site

[2015-09-15 01:46] djMax commented on #45
That's right (on the settings). And yes, those two equals are likely important because base64 fails without them. I would think they'd get URL encoded though, so not sure why they're showing up raw. Could be a bug in the node server, I'll check. But for now just take everything after sdk_token?

[2015-09-15 01:47] cesariel commented on #45
Ok! let me change that right now! Thanks again and again and again and again ... @djMax !!!!

[2015-09-15 01:48] djMax commented on #45
Really, thank you for your persistence and details, it's the only way we'll make this thing better.

[2015-09-15 02:02] cesariel commented on #45
Niceeeee!!! It works !!!!

[2015-09-15 02:26] djMax commented on #45
I've updated the server, there was indeed a missing encodeURIComponent. Not super important to update, but once everything else works might be worth doing.

[2015-09-15 02:30] cesariel commented on #45
Nice!

[2015-09-15 03:25] cesariel commented on #45
Ok! Another challenge!

Now I can received the payments and the payment, but when I swipe the card I'm receiving the error:

Payment Failed:

 Transaction Error: Error Domain=PPHLocal Code=-2016 Merchant is not permitted to take payments using the method "SWIPE" apiMessage=(null) message=(null) correlationId=(null) @ 2015-09-15 3:10:09 a.m. +0000

[2015-09-16 01:24] cesariel commented on #45
@djMax Let me try changing the currency

[2015-09-16 01:45] cesariel commented on #45
Nope, that didn't work

[2015-09-16 03:37] djMax commented on #45
The account needs to be onboarded for PayPal Here. Are we still in sandbox?

[2015-09-16 03:42] cesariel commented on #45
Yes! In sandbox

[2015-09-16 03:43] cesariel commented on #45
And how can I put my account onboarded? Or how can I verify that?

[2015-09-16 03:52] cesariel commented on #45
I duplicated the sandbox account and somehow it worked.... But in the payment complete View Controller, there some views that need to be fixed, because the email address when sending an invoice doesn't show up (pictures below):

![img_2039](https://cloud.githubusercontent.com/assets/13699157/9896042/d4922cfc-5c04-11e5-947b-ea1094e1507d.PNG)
![img_2040](https://cloud.githubusercontent.com/assets/13

[2015-09-16 04:30] may191 commented on #45
There are a couple of checks you can do to ensure the connected PayPal account is eligble for PayPal Here Processing on your side.  This is some example code of the OAuth flow and checks that you can do in PHP.
http://nommio.com/app/sample/auth/  There is a link to download the source at the bottom.

[2015-09-16 04:32] cesariel commented on #45
OK @may191 I will check right now! Thanks!

[2015-09-16 04:40] may191 commented on #45
The main endpoint is: https://api.sandbox.paypal.com/retail/merchant/v1/status with your access token passed in the headers as Bearer token.

[code]
Would return:
[code]

The key is to look for status: "ready" AND for ("chip" or "card") to be in the PaymentTypes array.

[2015-09-16 04:42] cesariel commented on #45
Ok! Let me try it right now!

[2015-09-16 04:45] cesariel commented on #45
Data: {"status":"ready","paymentTypes":["tab","key","card"] ....

[2015-09-16 04:45] may191 commented on #45
Another Great endpoint for debugging is:

[code]
This should return what scopes that token is eligible for and if it is active:

[code]

[2015-09-16 04:46] cesariel commented on #45
I think that the problem was, the first sandbox account that I create... I duplicated the first one and use it, and it worked!

[2015-09-16 04:47] may191 commented on #45
Yes, the sandbox should be default have them enabled.. But I have seen some end up not enabled.  When you go live its good to have that check in place so you ensure the account is eligible on your side as merchants onboard. Glad your up and running.

[2015-09-16 04:48] cesariel commented on #45
Yes!! Thanks for your help @may191 !!! :D

[2015-09-16 04:52] cesariel commented on #45
And what about the views "Payment Complete" "Email address" that are higher than the status bar? @may191

[2015-09-16 04:53] cesariel commented on #45
Sorry, the "navigation bar" in iOS

[2015-09-16 04:55] cesariel commented on #45
As you can see here:

https://github.com/PayPal-Mobile/ios-here-sdk-dist/issues/45#issuecomment-140618688

[2015-09-16 05:25] may191 commented on #45
I am sadly not the expert in that.. Potentially it could be due to positioned relative and has something to do with your footer?  Can you open the view as different type like a Modal?  I am sadly not an iOS developer ; )  @mpavlinsky @djMax or @ppmtscory can likely get you sorted though.

[2015-09-16 13:51] djMax commented on #45
what phone model is this?

[2015-09-16 13:53] djMax commented on #45
We should probably close this issue and start a new one btw. :)

[2015-09-16 16:40] mpavlinsky commented on #45
We have prepared a fix for the nav bar covering issue and it will be available as part of the next update to the release-1.6 branch.

[2015-09-16 16:40] #45 closed

[2015-09-16 23:00] JonChristensen opened #48 "Adding custom fields to a transaction"
We would like to track a couple of custom fields with each transaction: the user's email, a special 'rep code' that we have and the 'device id' of the device the user is using.

We tried using payerEmail for the email on the invoice, and we tried using referrerCode to put our rep code in.  We found that changing payerEmail caused the following error in the logs:

2015-09-16T13:07:04-0600 | <ERROR>

[2015-09-16 23:18] djMax commented on #48
The email bit should work, how are you setting that? If you're using the SDK you should just set it on the objective-c object rather than injecting it in some payload. I wouldn't use referrerCode for that, but we have a "cashierId" field which might be a better match (referrerCode can in THEORY mean something to PayPal in terms of tracking, but you could use it in a pinch). As for deviceId, we do

[2015-09-16 23:28] djMax commented on #48
Actually, orthogonal question - could you just use the invoice "number" field to associate our invoice record with your own data store that has all this stuff on it? Or is the PayPal Invoice the sole system of record in your case?

[2015-09-17 22:22] nanduahmed commented on #42
Hi Swire,

Do you have this plugin availaible somewhere. I am looking forward to integrate it.

[2015-09-18 07:24] nanduahmed commented on #42
@swire is this plugin commited somewhere in repository ?

[2015-09-18 16:13] bcgood commented on #42
@nanduahmed thanks for your interest, it is currently in a private repo until at least after our app gets approved by apple

[2015-09-18 18:54] nanduahmed commented on #42
@bcgood Thanks. Hope it will be available soon. Please notify

[2015-09-18 21:39] cesariel commented on #45
@mpavlinsky @djMax Excelent! I will be waiting!

[2015-09-22 14:45] mpavlinsky opened #49 "[Release-1.6] Audio Swiper Fails To Connect Occasionally"
It is possible to create an environment where the audio swiper connection sequence is initiated multiple times causing the second try to fail and disconnect the reader.

Log snippet:
[code]

[2015-09-22 14:48] mpavlinsky opened #50 "[Release-1.6] US Accounts Currently Not EMV Enabled"
US accounts are not returning the correct available payment types to do EMV transactions.

[2015-09-22 14:50] mpavlinsky opened #51 "[Release-1.6] Canceling a payment before invoice is saved causes erroneous receipt screen."
Steps:
Begin payment with an amount.
Insert a card.
Immediately remove it.
Observe you have the option to attempt an email/SMS receipt but they may fail.

[2015-09-22 14:51] mpavlinsky commented on #51
I have a fix prepared for this issue, but I wanted to capture this for tracking purposes here until I deploy the new release.

[2015-09-22 17:25] cesariel opened #52 "iOS 9 / iPhone 6 - Bitcode Error"
<img width="783" alt="screen shot 2015-09-22 at 1 44 02 am" src="https://cloud.githubusercontent.com/assets/13699157/10026014/62946826-612d-11e5-9d72-ccd9d45273cb.png">

[2015-09-23 02:15] cesariel opened #53 "iOS 9 / iPhone 6 - Error code 600000"
Transaction Error: Error Domain=service_error Code=600000 The operation couldn’t be completed. (service_error error 600000.)

![img_2123](https://cloud.githubusercontent.com/assets/13699157/10036573/6198ea60-6177-11e5-95a9-69e544074154.PNG)

This start to happen in the last release, before, the transactions were completed successfully.

[2015-09-23 02:17] cesariel commented on #53
@djMax Do you think you can help me on this one?

[2015-09-23 02:21] cesariel commented on #53
More logs:

02:20:40.0649      Main thread | PayPalHere: [SDK Alert] {
  "title" : "PPH_EMVSDK_Error",
  "message" : "The operation couldn’t be completed. (service_error error 600000.) - InvoiceServ: Unknown Error Code: 1",
  "buttons" : [
    "PPH_Label_Retry",
    "PPH_EMVSDK_CancelLabel"
  ]
}

[2015-09-23 03:02] cesariel commented on #53
CC: @mpavlinsky

[2015-09-23 03:16] sammcewan opened #54 "EMV reader updateRequired not set for update check"
There needs to be a better way to handle this. The code from the example app is as follows.

[code]

This delay is not sufficient to detect some updates and consequently the reader gets stuck in a position where we cannot transact without changing the code to being ~5 seconds.

There should be a callback or preferable a block once the device determines an update is available or not as adding a 5 s

[2015-09-23 03:44] sammcewan opened #55 "Microphone not detected in "Take Payment""
Latest take payment is not detecting magstripe reader. Microphone not requested, audio not pumped, nothing in debug logs. Tested on two devices with different headphone jack readers.

Also tested with previous versions of take payment with success.

[2015-09-23 10:39] djMax commented on #53
Sandbox or live?

[2015-09-23 10:40] djMax commented on #53
Somewhere in the logs there should be a "correlation id" or paypal debug id for this request - do you see that?

[2015-09-23 12:07] cesariel commented on #53
@djMax Sandbox

Data: {"correlationId":"3e2aff410247","errorCode":600000,"message":"InvoiceServ: Unknown Error Code: 1","errorType":"service_error"}

[2015-09-23 12:09] cesariel commented on #53
Data: {"correlationId":"31e609efe2ad1","errorCode":600000,"message":"InvoiceServ: Unknown Error Code: 1","errorType":"service_error"}

[2015-09-23 12:11] mpavlinsky commented on #54
I will update the TakePayment app with code that is better suited to detect update.

Generally the approach should be to check inside the `didReceiveCardReaderMetadata` delegate method.

[2015-09-23 12:54] djMax commented on #53
The error I see is EXTERNAL_PARTNER_APP_ID invalid. Are you passing something funny in there?

[2015-09-23 12:58] cesariel commented on #53
Hi! @djMax

Nope, the only thing that I change is the new release SDK

[2015-09-23 12:59] cesariel commented on #53
@djMax But, what can I double check to verify? :D

[2015-09-23 13:02] cesariel commented on #53
I downloaded this:

https://github.com/PayPal-Mobile/ios-here-sdk-dist/tree/release-1.6/SDK

And this:

https://github.com/PayPal-Mobile/ios-here-sdk-dist/tree/release-1.6/TakePayment

*****

Before this new release, my payments were successful...

[2015-09-23 13:04] djMax commented on #53
Do you see the POST call to hereapi/invoice in the logs anywhere? If so can you paste that here (removing email address and anything else sensitive)?

[2015-09-23 13:04] cesariel commented on #53
Of course! I will do it right now

[2015-09-23 13:14] cesariel commented on #53
--- _OBSCURO_EMFJSONRequest (POST https://www.sandbox.paypal.com/webapps/hereapi/merchant/v1/invoices)

Headers: {
    "Accept-Encoding" = "gzip,deflate";
    Authorization = "Bearer A015MDubrDU-Bv7iMQ5HGRTjM-iUo85m-IWPdAmmlNNPBMI";
    "Content-Length" = 517;
    "Content-Type" = "application/json; charset=UTF-8";
    "X-PAYPAL-REQUEST-SOURCE" = "MPA-DEVICE_iOS_iPhone7,2_9.0_SDK_1.6_do.com.360.Am

[2015-09-23 14:01] ppmtscory commented on #55
@sammcewan I can run some tests to check on this as soon as my Xcode is done updating.....

[2015-09-23 15:49] djMax commented on #53
This: ,"partnerReferrerCode":"Amway Business Manager, Rodinf" - how'd that get in there?

[2015-09-23 16:55] cesariel commented on #53
From here:

[PayPalHereSDK setReferrerCode:@"Amway Business Manager, Rodinf"];

[2015-09-23 16:55] cesariel commented on #53
@djMax I have it like that since beginning... Should I removed it ?

[2015-09-23 18:44] cesariel commented on #53
@djMax I commented that line, but the same error!

[2015-09-23 19:02] djMax commented on #53
Can I get the new correlation id?

[2015-09-23 19:03] djMax commented on #53
I'm starting to think the error is a backend change (that I don't know about yet) rather than SDK change.

[2015-09-23 19:08] cesariel commented on #53
Transaction Error: Error Domain=service_error Code=600000 The operation couldn’t be completed. (service_error error 600000.) apiMessage=InvoiceServ: Unknown Error Code: 1 message=(null) correlationId=6371df8519bdb @ 2015-09-23 6:22:56 p.m. +0000

[2015-09-23 19:09] cesariel commented on #53
That was the last one

[2015-09-23 19:19] djMax commented on #53
Yeah, I've just been informed this is a problem with a deployment that went to sandbox Monday night sometime. They are working on deploying the fix, I haven't gotten an ETA yet. Will update when I do.

[2015-09-23 19:47] cesariel commented on #53
Ok! Pefect! So I will wait! In the live enviroment doens't happen ?

[2015-09-23 19:58] djMax commented on #53
Yes, in live it should be working fine. You can leave in or put back your referral line.

[2015-09-23 20:00] cesariel commented on #53
Ok, so I would do mu first live transaction today! I'm excited !! :D

[2015-09-23 20:01] djMax commented on #53
I am too! :) Looking forward to seeing what you're up to.

[2015-09-23 21:37] djMax commented on #53
This should be fixed in sandbox now.

[2015-09-23 21:37] #53 closed

[2015-09-24 05:39] nanduahmed commented on #42
I am just trying to implement the cordova plugin since it is a critical need. Could you please share some details how can I get the swipe events using cordova on html page.

[2015-09-24 16:54] cesariel commented on #53
@djMax Yes! It was fixed!! Everything is perfect!

[2015-09-27 06:07] jarred-s opened #56 "Support for Tap and Go contactless reader"
I am attempting to develop an application for the new PayPal Here Tap and Go reader recently released in Australia and the UK for contactless payments.

https://www.paypal.com/au/webapps/mpp/accept-mobile-payments

Does the current SDK support this reader through the EMV interface and if not will this be included in the near future?

[2015-09-27 11:45] djMax commented on #56
Use the release-1.6 branch. It will get merged into master in a week or so.

[2015-09-27 11:46] #56 closed

[2015-09-27 11:47] djMax commented on #48
any updates on this issue?

[2015-09-27 13:48] mpavlinsky commented on #52
Current SDK binaries are not built with bitcode enabled. We will be enabling this soon. For the time being please disable bitcode for your application.

[2015-09-28 00:10] cesariel commented on #52
@mpavlinsky Perfect!

[2015-09-28 00:10] #52 closed

[2015-09-28 00:11] cesariel commented on #52
@mpavlinsky Maybe you could help me on this one https://github.com/paypal/paypal-retail-node/issues/1#issuecomment-143256879

[2015-09-28 14:08] centerax opened #57 "EMV?"
Does this SDK already provide support for the new [chip card reader](https://www.paypal.com/us/webapps/mpp/emv) ?

Thanks.

[2015-09-28 14:18] #50 closed

[2015-09-28 14:18] #51 closed

[2015-09-28 14:18] #54 closed

[2015-09-28 14:19] mpavlinsky commented on #54
TakePayment app is updated in release-1.6 to have a more robust check.

[2015-09-28 14:25] ppmtscory commented on #57
@centerax this indeed will support the EMV reader once everything has been tested and merged into the master branch.  Unfortunately I don't want to provide any hard dates for this because we're still working through some minor issues that have come up but hopefully it'll be available soon.  Please stay tuned...

[2015-09-28 14:33] centerax commented on #57
Thanks for your quick reply @ppmtscory , looking forward to that merge :metal:

[2015-09-28 14:42] mpavlinsky commented on #55
I'm not seeing this issue. Can you try deleting the app, cleaning and rebuilding? Or perhaps it's an account permissions issue? Does this only happen in a single region or is this the behavior for accounts in multiple regions?

[2015-10-02 16:11] rleiwang opened #59 "[1.5.2] Unable to detect paypal card reader"
I am using 1.5.2 SDK and having trouble to detect paypal card reader through the microphone. I included the regular release version of the framework from 1.5.2 branch.

NSLog(@"%@ version", [PayPalHereSDK sdkVersion]);

printed

(null).nhw version

Is this right framework?

[2015-10-03 00:06] rleiwang commented on #59
I moved to 1.6 SDK. It detects the reader now.

[2015-10-03 16:50] rleiwang opened #60 "[1.6] Calling processPaymentUsingUIWithPaymentType receives "Error 580029, missing field merchantInfo""
I've got the following error. I didn't find where to set merchantInfo in PPHInvoice
[code]

[2015-10-03 16:54] rleiwang commented on #60
I used the following to setup PPH SDK
[code]

[2015-10-03 19:05] djMax commented on #60
it should get setup by setupWithCredentials. Do you see a call to a URL with "userInfo" in it between the setup call and the create invoice call?

[2015-10-03 19:16] rleiwang commented on #60
Yes, I saw the the following after setupWithCredentials, before processing payment
[code]

[2015-10-03 19:21] djMax commented on #60
Hmmm. That *seems* like too little info. What scopes are you requesting for your token?

[2015-10-03 19:23] rleiwang commented on #60
Only three

[code]

[2015-10-03 19:28] djMax commented on #60
Our samples request: "email openid https://uri.paypal.com/services/paypalhere  https://uri.paypal.com/services/paypalattributes/business address phone profile" which is why we get a bunch more stuff back. I think you could set it manually also, but if the additional scopes work for you, that's probably the better route.

[2015-10-03 19:32] rleiwang commented on #60
Thanks @djMax for the quick response. I will try with the same scope.

I just want to learn the alternative you mentioned, do you mind to show the code snippet on how to set it manually?

[2015-10-03 19:45] rleiwang opened #61 "[1.6] Q: What if getCurrentNavigationController returns nil?"
I use react native Javascript Navigator to manage the screen stack. What happens if getCurrentNavigationController returns nil. Can the screen show up?

[code]

[2015-10-03 21:42] rleiwang commented on #60
@djMax just to confirm the transaction went through with scope "email openid https://uri.paypal.com/services/paypalhere https://uri.paypal.com/services/paypalattributes/business address phone profile". Thanks for your help

[2015-10-05 15:21] ppmtscory commented on #60
Thanks for the confirmation, @rleiwang.

[2015-10-05 15:21] #60 closed

[2015-10-05 15:24] ppmtscory commented on #59
Moving to 1.6 is the right move here, @rleiwang.  Unfortunately the 1.5.2 Sample was compiled against the "no hardware" (nhw) SDK so that's why it's not automatically detecting the reader.  Version 1.6 will soon be released to the Master branch anyway so priorities are currently being focused on that.

[2015-10-05 15:24] #59 closed

[2015-10-05 16:09] ppmtscory commented on #55
Closing this issue as I believe, from other conversations, it has been resolved.

[2015-10-05 16:09] #55 closed

[2015-10-05 16:12] ppmtscory commented on #36
@BenLeggieroNCR I'm going to close this as version 1.6 will be released soon and so all of the prioritized work has been put towards that release.

[2015-10-05 16:12] #36 closed

[2015-10-07 14:59] rleiwang opened #62 "[1.6] Can't process card swipe w/o reattach card reader"
Can you help me to look at why I can't process second swipe. The first swipe would be fine, but the time time, the card swipe never come through.

Here are the steps.
1) initWithResponse

2) call chargeCard, swipe Card, follow the screen flow, processing and done

3) call chargeCard second time, swiper Card, nothing happens.

can someone give a pointer where I did wrong?

[code]

[2015-10-08 19:11] mpavlinsky commented on #62
I don't see anything wrong with the code immediately. Can you share a log of what the SDK is outputting in this case?

[2015-10-08 19:12] mpavlinsky commented on #61
We do not currently support attempting to present on a nil UINavigationController.

[2015-10-09 02:51] rleiwang commented on #61
@mpavlinsky got it. Thanks

[2015-10-09 02:52] #61 closed

[2015-10-09 02:58] rleiwang commented on #62
@mpavlinsky I found out this afternoon it is threading issue. I moved the code to TakePayment example and it worked there. I am using react native with this SDK, react native uses another thread to invoke SDK api, for some reason, the audio session thread can't notify the card swipe event unless this SDK invoked from main thread.

[2015-10-09 03:01] rleiwang commented on #62
@mpavlinsky Thanks for reviewing the code. I am unable to login to PayPal sandbox env since yesterday's noon time. Only got it resolved this afternoon after waiting almost 30 mins on the phone for tech support. Do you have any suggestions how can I dev/test code with SDK w/o sandbox?

[2015-10-09 04:21] rleiwang opened #63 "[1.6] How to display card reader status"
I am using processPaymentUsingUIWithPaymentType for card process. As it processes, it displays "Processing" in the middle of the screen, I want to do something similar to show card reader status. Can someone shed some light on how to do it? What SDK uses to display "processing" bar?

[2015-10-09 16:41] ppmtscory commented on #63
@rleiwang you can just use the standard spinner via [UIActivityIndicatorView](https://developer.apple.com/library/prerelease/ios/documentation/UIKit/Reference/UIActivityIndicatorView_Class/).

[2015-10-09 16:41] #63 closed

[2015-10-12 03:09] djMax commented on #48
Closing for inactivity. Feel free to reopen

[2015-10-12 03:09] #48 closed

[2015-10-12 03:10] djMax commented on #62
Is it working now? If you do a transaction and refund it, you should end up 100% whole, so that's one way to test in a pinch.

[2015-10-12 10:29] mihato opened #64 "[1.6] InvoiceServ: Unknown Error Code: 67"
I'm trying to process payment with manually entered card data. Here is my code:

[code]

PPH console log:

[code]

Any ideas what code 67 means?

[2015-10-13 18:09] ppmtscory commented on #64
@mihato it looks like you are using an invalid currency.  Can you ensure that what you are using for currency matches up to the merchant account's currency?  For example, if you are using a US merchant account, then the currency should be set to USD.

[2015-10-14 09:36] mihato commented on #64
Thank you for response. You are right, problem is in currency code. Now it's working but I have one more question. Is it possible to accept payments via PayPal Here in different currencies? All I found so far is that currency conversion should be done automatically. After I created ``PPHAmount`` object in different currency I had a successful payment transaction. But in pending transactions report

[2015-10-14 14:35] ppmtscory commented on #64
You can accept different currencies, but they have to match the merchant account.  Merchant accounts in UK or AU can accept in GBP and AUD respectively.

[2015-10-14 14:35] #64 closed

[2015-10-14 18:18] ppmtscory commented on #62
Closing - feel free to open a new issue if you encounter any further problems.

[2015-10-14 18:18] #62 closed

[2015-10-14 18:20] ppmtscory commented on #57
Closing as 1.6 has been merged to Master.

[2015-10-14 18:20] #57 closed

[2015-10-20 18:41] jonathanpdiaz opened #65 "Sending custom data."
We have a few pieces of data that we would like to add to our transactions.
With the paypal REST API, we would add it to the custom data field.

How can we do the same with the PayPal Here SDK?

So far, I have seen the cashierID, but that doesn't cover our expectations.

Thanks,

/*! Cashier ID - Indicate the merchant's sub-user (e.g. Cashier) that is responsible for a transaction. */
@property (s

[2015-10-20 19:12] djMax commented on #65
Generally, it would be better to store it in your systems tied to the invoiceId or some such, because the storage in other fields is very limited (like 4k or less, of which we use a decent chunk). There's invoice note/memo which should be exposed. What are the characteristics of what you're trying to store (or if you can tell me exactly, that's good too :) )

[2015-10-20 19:34] jonathanpdiaz commented on #65
Hi @djMax, thanks for the quick answer

The client requested us to add some fields for quick reference while reviewing the data on the Paypal site. We do have something builded as you described in our side tied to the invoiceId but the client consider that it request them an extra effort to track each transaction between both systems when they are looking for something in particular.

We want to a

[2015-10-20 19:38] djMax commented on #65
User email has a real field I think - billingInfo.email. deviceIdentifier in theory does get filled out. If they want to see these values on the receipt in PayPal, custom fields won't help because they're not shown there. Let me dig and see if there's a "merchant-only" memo field you could use.

[2015-10-26 18:52] jonathanpdiaz commented on #65
Hi @djMax,

Here are more specifics about this case, I have marked with a red arrow the field that we want to populate on the paypal portal with transactions from paypal here sdk (red arrow):

![paypal](https://cloud.githubusercontent.com/assets/2194027/10738540/a13c5474-7bf6-11e5-8582-631602e44108.png)

This transaction was done using the Paypal API with a vaulted credit card. The nodejs framewor

[2015-11-03 06:09] JeOFFRE commented on #49
How can i modified or transfer to in my paypal acount..

[2015-11-03 13:51] ppmtscory commented on #49
@JeOFFRE can you please open a separate issue that relates to your question and provide some more detail as to what you are specifically wanting?

[2015-11-20 17:01] ppmtscory commented on #65
The custom field isn't something that's able to be populated currently, however, I'll mark this as an enhancement and we'll take it as feedback for future releases.

[2015-11-22 17:43] AlexGamezo opened #66 "CHIP Reader Software Update process fails"
The card reader states that "Software Update Required" when I connect it to my app. I've attempted to use the "beginUpgradeUsingSDKUIForReader" method to initiate update, but each time the UI displays in app, then updates reader stating "Downloading files", followed quickly by "Software Update Failed" and the error message for the callback states that the SDK "Failed to verify reader"

In making t

[2015-11-23 20:43] ppmtscory commented on #66
Are there any errors or anything present in the console logs when this happens?

[2015-11-24 02:44] AlexGamezo commented on #66
Thank you for your assistance!

Looks like the errors I'm getting are SSL errors, handshake failures and HTTP load failures.
Is there any additional configuration I must make for the SSL connection to succeed from the app?

I'll take a look at the sample, in case I'm missing something small.

[2015-11-24 15:08] ppmtscory commented on #66
I was wondering if ATS was going to have something to do with this.  Let me discuss this, along with the looping, internally here and we'll get back to you.

[2015-11-26 02:56] AlexGamezo commented on #66
I've attempted to perform the upgrade through the TakePayment sample app, and that fails as well. Seems to either be a reader issue (hoping not) or something a little more universal? Any luck on your end?

[2015-11-30 19:19] ppmtscory commented on #66
@AlexGamezo can you try a system restore on the device and then reconnecting it?  To do the restore, there's a pin hole next to the power button that you press to get the restore options.

[2015-11-30 23:19] brainfuel opened #67 "Is PayPal Here development from UK possible?"
I'm a little confused. PayPal Here is available in the UK for consumers, however I read on the PayPal developer site : https://developer.paypal.com/docs/integration/paypal-here/

"The PayPal Here SDK currently supports US-based PayPal accounts operating within US borders."

Is this actually correct? To develop an app with PayPal Here integration for the UK market...I have to live in US?

[2015-11-30 23:33] ppmtscory commented on #67
@brainfuel the PPH SDK is available in US, UK, and AU currently.  Thank you for bringing this to our attention - I will file the request to update the developer site accordingly.

[2015-11-30 23:33] #67 closed

[2015-12-01 16:14] AlexGamezo commented on #66
I've tried both a system restore and a factory reset. No dice, same result. Neither the TakePayment Sample app, nor our app is able to complete the update.

[2015-12-01 18:07] mpavlinsky commented on #66
@AlexGamezo I tried this using TakePayment and an iOS 9.1 and the update completed successfully.

What version of iOS are you using? Have you tried multiple differently versioned devices?

[2015-12-02 06:06] AlexGamezo commented on #66
I've only tried on one device, only one reader so far, I'll try another device shortly. Just need to get approved for my paypal business account and can try with the actual PayPal Here app as well. Does the account need to be approved for transactions in order to do the device upgrade?

[2015-12-02 20:36] mpavlinsky commented on #66
Yes I believe you must have a current business account to get through login to the point where reader version is checked and updated.

After looking into the ATS error more it seems like it is impossible for me to package the proper exception with the PPHSDK framework. I am trying to sort out the endpoint that is causing issues, but in the meantime it looks like the app will have to add the ATS ex

[2015-12-07 20:11] ghhtimsgh1970 opened #68 "Getting access token from refresh token"
I looked at [the docs to do this](https://developer.paypal.com/docs/api/#grant-token-from-refresh-token) and it seems pretty straightforward, but it's not working.

I've successfully got the onboarding process working where my I use Log In With PayPal to return an auth code and then get a refresh/access token and then use that to get the user profile information.  I'm saving the refresh token agai

[2015-12-07 20:14] ghhtimsgh1970 commented on #68
Wrong github.  This issues involves the .NET SDK.

[2015-12-07 20:14] #68 closed

[2015-12-13 00:10] AlexGamezo opened #69 "Card Decryption Error (pay/card_decryption_failure)"
Hey,

One new issue we're running into is we're getting a Card Decryption Error response from the API when we try to process a card. We're receiving this response regardless of type (Swipe or CHIP). Code 600025

This was working in sandbox before, but isn't any longer. Any pointers on what we may be doing wrong?

[2015-12-13 00:39] djMax commented on #69
This is with a chip and pin reader?

[2015-12-13 00:41] AlexGamezo opened #70 "CHIP Cards Auth/Cap process"
Is this process supported for CHIP cards? If so, is there an example of this workflow? It appears that the authorizePaymentWithPaymentType method doesn't support the CHIP PaymentType

[2015-12-13 00:42] AlexGamezo commented on #69
Correct, the Bluetooth PayPal Here reader

[2015-12-13 01:07] djMax commented on #70
C&p readers don't currently work in sandbox. We're working on getting swipe to work with production readers but emv probably never will

[2015-12-13 05:07] AlexGamezo commented on #70
Is this purely for the auth/cap process? Or in general? I have the other open issue (#69) regarding Card Decryption Failure, is that related? If so, how do we test this integration? Using real CC would be highly problematic.

[2015-12-15 10:23] AlexGamezo opened #71 "Waiting for Signature"
In attempting to process an EMV transaction, I'm dropped into a state where it's waiting for signature post a call to processPaymentUsingUIWithPaymentType. We currently have an in-app process for getting the Signature, which I'll be able to pass the image data to PayPal, but presently, I'm trying to just test with a blank signature using the following code:

[code]

This is (of course?) throwing a

[2015-12-15 14:49] ppmtscory commented on #71
With EMV, the UI is all handled by the SDK.  This includes the signature screen and the receipt screen.  We handle everything to ensure all EMV requirements are being met so you won't be able to override them at this point.

[2015-12-15 16:44] mpavlinsky commented on #71
To add a bit more information: the `provideSignature` API is only supported as part of the non-UI transaction flows. There is no way to add a signature other than the one collected by the UI presented by the SDK for EMV transactions currently.

[2015-12-15 20:51] AlexGamezo commented on #71
Thank you both. Seems like I'm just having an issue with providing a valid navigationController then.

It is very useful to know that signature and receipt is already built in. Are there plans to make this customizable in the future? Presently, we have signature and receipt screens built into our app, with marketing messaging to encourage customers to complete them for CRM info. Also, is there an

[2015-12-22 20:33] pcobas opened #72 "EMV detection crashes app"
We're using the latest SDK version (1.6.1) and I'm getting a crash after connecting the EMV card reader.

Attached is the crash report.
[testcrashpaypal.crash.zip](https://github.com/PayPal-Mobile/ios-here-sdk-dist/files/70164/testcrashpaypal.crash.zip)

Any ideas?

[2015-12-23 18:27] ppmtscory commented on #72
@pcobas I'm seeing references to Sandbox in your crash logs.  The EMV reader is a Production reader and only works in the Live environment.

[2015-12-27 22:25] therunggedmen opened #73 "yo"
<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/" xml:lang="en-US">
  <id>tag:github.com,2008:/therunggedmen</id>
  <link type="text/html" rel="alternate" href="https://github.com/therunggedmen"/>
  <link type="application/atom+xml" rel="self" href="https://github.com/therunggedmen.atom"/>
  <title>therunggedmen’s Activity<

[2015-12-27 22:26] therunggedmen commented on #73
<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/" xml:lang="en-US">
  <id>tag:github.com,2008:/therunggedmen</id>
  <link type="text/html" rel="alternate" href="https://github.com/therunggedmen"/>
  <link type="application/atom+xml" rel="self" href="https://github.com/therunggedmen.atom"/>
  <title>therunggedmen’s Activity<

[2015-12-28 15:25] ppmtscory commented on #73
Closing due to no information in the request.  If you are having an issue, please reopen with detailed information of what's happening.

[2015-12-28 15:25] #73 closed

[2016-01-04 16:01] ppmtscory commented on #72
Closing due to inactivity.  If you are unable to get the reader to work in the Live environment, please do let us know.

[2016-01-04 16:01] #72 closed

[2016-01-04 16:52] ppmtscory commented on #70
@AlexGamezo the readers do not work in Sandbox.  Also, there currently isn't auth/capture capabilities with the EMV readers.  In order to test the integration, yes, you would need to run a couple samples in Production.  Once testing is complete, you would be able to refund your credit card.

[2016-01-04 16:52] #70 closed

[2016-01-04 16:53] ppmtscory commented on #69
This would have been due to using the EMV reader in the Sandbox environment.  I've also posted this information in your other issue #70.

[2016-01-04 16:53] #69 closed

[2016-01-08 04:04] rleiwang commented on #66
I've got the same error message "Install software failed". I am using SDK 1.6 on ipad mini running 9.2

any advise how to fix it?

[code]

[2016-01-08 04:41] ppmtscory commented on #66
@rleiwang you are getting the issue because you have it pointing to the Sandbox environment and the EMV readers do not work with the Sandbox environment.  You need to point to Production to use the EMV readers.

@AlexGamezo were you able to get yours updated, or your Prod account approved for PPH to test with the PPH App, or both?  Do you need any further assistance?

[2016-01-08 04:57] ppmtscory commented on #71
@AlexGamezo I apologize for the long delay.  The receipt and signature customization options will depend on any flexibility that we get with various EMV restrictions so I can't really say what is/isn't on the road-map for that.  As for prefilling the email or phone, you could play around with [receiptEmailAddress](http://paypal-mobile.github.io/ios-here-sdk-dist/Classes/PPHInvoice.html#//api/name/

[2016-01-08 04:57] #71 closed

[2016-01-08 04:57] rleiwang commented on #66
@ppmtscory Thanks for the reply. To test with EMV reader with production env, do I need do any thing extra?

You mentioned account approval for PPH testing? Do I need to do that?

[2016-01-08 05:00] ppmtscory commented on #66
You will need a Live Business account that is approved for PayPal Here.  This would be the account that is used as the 'merchant' in the SDK and is receiving the funds.

[2016-01-08 05:47] rleiwang commented on #66
@ppmtscory  Thanks for the info. This is to confirm it works for me in production env.

I wonder why EMV reader can't work in the sandbox env?

The other question I have is: when will 1.6.1 uploaded to pod?

[2016-01-08 05:53] ppmtscory commented on #66
That's great it's working!  EMV isn't working in the sandbox because of the way that EMV transactions are processed.  It's possible that it *may* work for swipe transactions from the EMV reader in the future but EMV transactions will likely never work in Sandbox.

For your Pod question, that would be something that we'd need to ask @mpavlinsky.  I can follow up with him internally as well and get

[2016-01-08 20:32] mpavlinsky commented on #66
@rleiwang 1.6.1 is now uploaded to the cocoapods repository.

Thanks for bringing this to our attention.

[2016-01-12 19:08] pcobas commented on #72
Hi,
I managed to reproduce the error with very little code.
Here is a link to a test project:
https://drive.google.com/file/d/0BwQqzecisCK4SEVuR3JTdDZUYUk/view?usp=sharing
Can you tell me what am I missing?

[2016-01-14 19:35] centerax commented on #72
Hi @ppmtscory , hope you are doing well Cory.

Any feedback on this please?

Thanks.

[2016-01-14 19:47] ppmtscory commented on #72
Hey Folks - apologies for the delay.  Let me take a look at the test project and get back here....

[2016-01-14 19:49] centerax commented on #72
Many thanks for your swift reply, looking forward to your feedback.

[2016-01-14 20:28] ppmtscory commented on #72
You are getting the crash because you are not setting the active merchant first.  You need to set the merchant prior to reader connection.  You'll need to utilize the initialization methods underneath the [SDK Initialization](https://github.com/PayPal-Mobile/ios-here-sdk-dist/blob/master/README.md) section of the README.

[2016-01-14 22:55] #66 closed

[2016-01-15 13:05] pcobas commented on #72
Thanks Cory, that worked.

On Thu, Jan 14, 2016 at 6:28 PM, Cory <notifications@github.com> wrote:

--
*Pablo Cobas*

*Lead App Developer - ebizmarts.com
<http://ebizmarts.com/>pos.ebizmarts.com <http://pos.ebizmarts.com/>*
*Magento Partners*

[2016-01-15 15:00] ppmtscory commented on #72
Glad to hear it... thanks for the update.

[2016-01-15 15:00] #49 closed

[2016-01-15 15:02] centerax commented on #72
Many thanks for your help @ppmtscory .

[2016-01-16 01:06] dnbedwards opened #74 "invoice.payerEmail field cannot be set"
I noticed there was also a closed issue with no solution to this - we're getting the following error when trying to pre-set the email address used for invoicing:

    "The operation couldn’t be completed. (service_error error 600000.) - Unrecognized field \"email\" (Class com.paypal.hereapi.rest.merchant.model.payment.PaymentRequest), not marked as ignorable\n at [Source: org.apache.catalina.conne

[2016-01-19 15:37] ppmtscory commented on #74
Are you simply trying to pre-fill the email address on the receipt screen?  If so, you can use the following... `invoice.receiptEmailAddress = "payeremailtest@test.com"`

[2016-01-19 21:31] dnbedwards commented on #74
Yeah should have said I already noticed that. Thanks.

[2016-01-19 21:31] #74 closed

[2016-01-27 01:56] brainfuel opened #75 "Contactless Timeout Event"
After I call [[PayPalHereSDK sharedTransactionManager] activateReaderForPayments:NULL];

Then wait a minute or so, I get 'contactless timeout'...

Main thread | PayPalHere: < EMV Terminal Message: 0100029F42DE
Main thread | PayPalHere: Aborting transaction
Main thread | PayPalHere: > EMV Terminal Message 010004D0FF00002A (OK)
Main thread | PayPalHere: Contactless tap failed, failed for reason: con

[2016-01-28 12:32] brainfuel opened #76 "Token refresh confusion"
I'm a little confused by token refresh.

Currently I'm getting the composite token fine, I call setupWithCompositeTokenString, everything is good, I can make transactions etc.
However 8 hours later it expires, and at that point I'm confused.

The documentation seems to imply that refresh is taken care of automatically by the SDK "When the access token expires,  we will automatically invoke this en

[2016-01-28 15:09] djMax commented on #76
It's not "automatic" in that you still have to provide a server that will refresh. Check out this long explanation: https://github.com/paypal/paypal-retail-node

TL;DR - when the token expires the SDK will call the refreshUrl and expect to get a new token back. If it doesn't, or if that token is also expired, it will fail with a 401.

[2016-01-28 15:33] brainfuel commented on #76
Thanks for your reply. I'm using heroku, and I am sent the refresh_url.  But when it expires it is not refreshed by the SDK.
Currently I'm having to perform the GET request on the refresh_url manually to get around this, but I assume from the documentation this is not how the SDK is supposed to work.

[2016-01-30 01:41] brainfuel opened #77 "Tax not being calculated correctly in receipt"
taxInclusive = YES
Total price of transaction £1
Tax 20%

Test transaction with 1 item seems to work ok with £0.17 tax...
<img width="592" alt="screen shot 2016-01-30 at 01 36 59" src="https://cloud.githubusercontent.com/assets/4739285/12692662/4b395210-c6f2-11e5-9fb2-a054c710b185.png">

But if you add multiple small value items to the transaction it only calculates £0.03...

<img width="634" alt=

[2016-01-30 02:23] brainfuel commented on #77
On further testing it seems like the problem is not with small amounts but with multiple PPHInvoiceItem's , here I test with three lots of £1 items, and still get the wrong tax calculated...

<img width="638" alt="screen shot 2016-01-30 at 02 20 39" src="https://cloud.githubusercontent.com/assets/4739285/12693029/5a51605c-c6f8-11e5-9a16-21b603088589.png">

It appears to be only calculating the fir

[2016-01-30 07:54] brainfuel commented on #77
Logging invoice.tax before calling beginPaymentUsingUIWithInvoice seems to show that the tax on PPHInvoice is actually calculated correctly. So this could be a server side issue.

[2016-02-01 16:14] brainfuel commented on #75
Found it in PPHTransactionControllerDelegate
- (PPHContactlessTimeoutAction)contactlessTimeoutAction;

[2016-02-01 16:14] #75 closed

[2016-02-01 17:01] brainfuel commented on #76
Manual refresh workaround seems to work OK. Closing

[2016-02-01 17:01] #76 closed

[2016-02-02 03:48] brainfuel opened #78 "Error when refunding"
I obtain the invoice ID from a previous transaction stored in Core Data...

   [PPHInvoice downloadInvoiceForInvoiceId:invoiceId context:nil completionHandler:^ (PPHInvoice *invoice, PPHError *error)

Once I have obtained the PPHInvoice, I call...

  [[PayPalHereSDK sharedTransactionManager] beginRefundUsingUIWithInvoice:invoiceId
                                                              trans

[2016-02-02 13:33] brainfuel commented on #78
I got it working using this method instead..

     PPHTransactionRecord * record  = [[PPHTransactionRecord alloc] initWithTransactionId:transaction.payPalTransactionId];

                [[PayPalHereSDK sharedTransactionManager] beginRefund:record  forAmount: nil completionHandler: ^(PPHTransactionResponse *response){

[2016-02-02 13:33] #78 closed

[2016-02-02 14:38] ppmtscory commented on #78
There's currently a bug within the SDK for the EMV refund method that you stated in your original inquiry.  This will be fixed with a release soon.

[2016-02-27 19:04] tadeegan opened #82 "Enter Sandbox mode"
How do I enter sandbox mode in the paypal here app.  Ive tried the steps listed here but it simply doesnt work:
https://developer.paypal.com/docs/integration/paypal-here/sandbox-testing/using-the-sandbox-mode-on-the-paypal-mobile-app/

[2016-02-28 00:21] djMax commented on #82
We don't have a similar thing in PPH. In the SDK though you can use our stages. Send me an email at m at x.com and I can figure out the best server for you to use and send credentials and such.

[2016-02-28 00:22] djMax commented on #82
Are you doing EMV dev or regular mag stripe? EMV in stage requires a special reader unfortunately.

[2016-02-28 21:34] tadeegan commented on #82
I am just deep linking into the Pay Pal here app but I need a test account in order to verify that it works correctly.  I keep getting declined for an account.  Very frustrating...

[2016-03-14 18:02] ppmtscory commented on #77
@brainfuel my apologies for the delay on this.  Is this still something that's causing an issue or where do you stand currently with this?

[2016-03-14 20:21] brainfuel commented on #77
Yes, I had to scrap itemised invoice and put the payment through as a sum of all items. Not ideal, but it was the only workaround I could think of. Would be great if it was fixed.  Thanks

[2016-03-14 20:38] ppmtscory commented on #77
Thanks for the update, I will take a look.  Is this the only place that you reported this or did you also file a support ticket with the team?  If so, can I also get that ticket number from you so that I can consolidate everything?

[2016-03-14 20:40] brainfuel commented on #77
This was the only place I reported the issue I believe.

[2016-03-14 20:44] ppmtscory commented on #77
Great, thank you.  I'll update here once I run some tests to see what's happening.

[2016-04-01 21:47] brainfuel opened #83 "App rejected due to use of setAllowsAnyHTTPSCertificate:forHost:"
"Your app uses or references the following non-public APIs, which is a violation of the App Store Review Guidelines: setAllowsAnyHTTPSCertificate:forHost:"

Command line strings -a suggests Paypal binary is at fault.

Could you resolve this quick please.

Thanks.

[2016-04-01 21:52] djMax commented on #83
You're building with the debug version I believe - we don't have this in the release version which is exactly what's in our shipping app.

[2016-04-01 21:53] brainfuel commented on #83
Aha, OK thanks.

[2016-04-01 21:53] djMax commented on #83
(if that's not it, let us know and we'll double check the latest binaries)

[2016-04-01 22:28] brainfuel commented on #83
Just checked, yes that was the problem. Thanks for your help.

[2016-04-01 22:28] #83 closed

[2016-04-08 00:55] rleiwang opened #84 "Payment name/email doesn't show up on Account History page"
Hi

The payment name/email doesn't show up on transaction history page. Is this something I missed?

![image](https://cloud.githubusercontent.com/assets/6434571/14371122/46150860-fce9-11e5-93b8-8f71fb503846.png)

[2016-04-08 15:53] ppmtscory commented on #84
Most of the time when the name/email shows up like this, it's due to either a bad read of the card or a bad track on the card itself.  You'll see this in the Sandbox sometimes when folks will overuse a card and/or keep using a giftcard over and over for testing.

[2016-04-15 07:41] PaterB opened #85 "App crash after logging in"
I just downloaded the paypal here SDK.
Running the TakePayment SDK, upon login with my business account, it crashes.

Please look at the crash log below. Thanks.

[code]

[2016-04-15 18:48] ppmtscory commented on #85
@PaterB that error is usually due to, either the merchant account not having PayPal Here enabled, or not having the right scopes assigned during the permissions portion of the onboarding.  Please ensure that your onboarding flow utilizes the following scopes at minimum:
[code]
You'll also need to ensure that your App that you created under your developer.paypal.com account has the PayPal HERE opti

[2016-04-17 04:21] PaterB commented on #85
I have my sandbox account setup with paypal here enabled.
When I try login the error still the same, I do not know where in the paypal website I could configure my currency code.
What do you mean by onboarding flow? As long as I follow what's in the TakePayment app it should be fine?

[2016-04-17 16:27] ppmtscory commented on #85
Please let me know the merchant ID of your sandbox account so I can take a look at how it's set up.

[2016-04-18 01:19] PaterB commented on #85
How do I find merchant ID?
I got my client ID here.
AZHfFgetsCo-eyEmsuyPw575T_1HMTIh2CPo5_T8wZ0Hr_pD4fLgbyD1ALzx0B06qh-VzJjN6EutkIYS

[2016-04-18 15:47] ppmtscory commented on #85
If you login to your account at sandbox.paypal.com, you would see it, otherwise you can just let me know the email address (since it's Sandbox) if that's easier.

[2016-04-18 15:49] PaterB commented on #85
KKSFRHD45Y7GW, here's my merchant account id

[2016-04-18 15:58] ppmtscory commented on #85
Thanks @PaterB.  That account is a Singapore account which is not eligible for PayPal Here.  You'll want to create a US Business account with the first name of 'Ryan' to use in the Onboarding.  The onboarding is explained in the Merchant Onboarding document that's in the docs folder of this repo.  The TakePayment app assumes that the account is already set up for PayPal Here, which won't be the ca

[2016-04-18 16:13] PaterB commented on #85
I have created an account and now I'm able to login.
However I do not have a card reader, how can I get that when I'm not in United States?
It seems like the sample app won't allow me to try anything without having the reader.

[2016-04-18 16:22] ppmtscory commented on #85
The EMV reader is only able to be tested in Production, but the older triangle dongles can be used in the Sandbox.  Also, you can modify the TakePayment App for keyed entry to test in the Sandbox as well.  You can purchase readers [here](https://www.paypal.com/store/) or you can request one if you sign up for PayPal HERE through the PPH App itself from the App/Play Store.

[2016-04-19 05:25] PaterB commented on #85
I tried using key mode, now I receive this error.

`{"correlationId":"149ad15296845","errorCode":580029,"message":"Missing field: merchantInfo.businessName","developerMessage":"Your request is missing a field: businessName on the object merchantInfo","errorType":"missing_field"}
`

[2016-04-19 20:14] ppmtscory commented on #85
@PaterB it appears that you didn't create your sandbox merchant account through developer.paypal.com so there were some things that weren't verified on the account.  I've manually changed those things so the account should be able to be used now.

[2016-04-20 01:42] PaterB commented on #85
Hi I still receive the same error.

[2016-04-20 16:10] ppmtscory commented on #85
Can you provide the correlation ID of the error?  Also, can you confirm that you're logging in and providing permissions to the TakePayment App so that it's able to get the information that it needs from your account?

[2016-04-20 16:13] PaterB commented on #85
When I first login, I did allow the permission.
Here's the correlationID.

`Data: {"correlationId":"622bce6285a90","errorCode":580029,"message":"Missing field: merchantInfo.businessName","developerMessage":"Your request is missing a field: businessName on the object merchantInfo","errorType":"missing_field"}`

[2016-04-22 17:09] ppmtscory commented on #85
My apologies for the delay.  Please try using the following sandbox login and see if it works.  I really think that there's an issue with the account you created.
email: paterb@test.com
pwd: 123abct3st

[2016-04-23 02:48] PaterB commented on #85
Thanks so much for your help. It works now.
I'm trying to use key in payment using code below.
However it still ask me to swipe card. Is there something wrong?

[code]

[2016-04-25 15:27] ppmtscory commented on #85
Are you referring to the reader displaying the Tap, Swipe, Insert options?  This would be due to calling `[[PayPalHereSDK sharedTransactionManager] activateReaderForPayments:NULL];`.  Try commenting out that line for keyed entry testing and see if that takes care of what you are seeing.

[2016-04-25 15:46] PaterB commented on #85
The code.
`    [[PayPalHereSDK sharedTransactionManager] activateReaderForPayments:NULL];
`
is only in `enableContactlessButtonPressed`
The code is never called.

[2016-04-25 16:57] ppmtscory commented on #85
Where are you putting your code and what code are you using so that I can try to reproduce and help you out?

[2016-04-26 00:07] PaterB commented on #85
Hi, all the codes are untouched, it's from the sample app.
I call the process payment function immediately after I key in the amount.

[2016-04-26 15:14] ppmtscory commented on #85
Where are you putting your code for the key entry and then how are you submitting it after typing the amount?  In order to assist you with what you're seeing, I need to be able to reproduce it so I can adjust things and let you know what to do differently.  Please let me know code samples and where in the app exactly these code samples are placed.

[2016-04-26 15:29] PaterB commented on #85
Hi sorry for that.

[code]

[code]

[2016-04-26 15:40] ppmtscory commented on #85
Thanks.  I'll take a look and get back to you.

[2016-04-26 20:39] ppmtscory commented on #85
@PaterB I see what you're seeing now.  The issue is that you are not populating card data for the manual entry.  Manual entry is not yet available on the EMV reader so you have to capture that data yourself and assign it to `PPHCardNotPresentData`

[2016-04-29 15:40] PaterB commented on #85
Hi,
How do I obtain a BN code and can you give me an example of the returnurl in the post form? Thanks

[2016-04-30 05:23] rakesh-ideal opened #86 "How we get refresh token for long time use ?"
I Run the code from PayPal-Mobile/ios-here-sdk-dict, Everything is working fine, but generated token does not seems to refresh token its expiring in 8 hour, so
How i can generate refresh token for iOS app as generating in android sample ?
I checked android app generated refresh token not working with iOS app ?

[2016-05-03 14:25] PaterB commented on #85
I have another issue here. Our app is integrated with payanywhere and seems like some of the library is clashing. What can we do to avoid this?

[code]

[2016-05-10 14:54] ppmtscory commented on #86
We're looking into this currently.  If needed, you can use the Authentication Listener and then manually update the access token when the `onInvalidToken` method is invoked.  I'll update here once we confirm what's happening with the auto-refreshing of the access token.

[2016-05-10 15:51] ppmtscory commented on #85
@PaterB it looks like you're clashing with the Magtek libraries.  We do offer the NOHW version of our SDK in this repo if you want to remove those libraries from our SDK.  Keep in mind, however, then you'll be responsible for handling all communications with the Magtek reader in your App as it won't be handled through our SDK.

[2016-05-10 15:56] PaterB commented on #85
Sorry, could you provide me a detailed way of downloading the NOHW version?
We tried emailing paypal partner program via the website, however they haven't got back to us.
Upon submission it shows page does not exists, could you provide us their exact email?

[2016-05-10 15:57] ppmtscory commented on #85
For your BN code request, you'll need to reach out to the email address that's at the bottom of the ReadME next to the MFi program information.

[2016-05-10 15:58] ppmtscory commented on #85
The NOHW version is in the SDK folder of this repo [here](https://github.com/PayPal-Mobile/ios-here-sdk-dist/tree/master/SDK/nohw).

[2016-05-10 16:03] PaterB commented on #85
Is this email correct? pph-sdk@paypal.com

[2016-05-10 16:11] ppmtscory commented on #85
Yes - that email should be correct.  Let me know if you are seeing something different.

[2016-05-10 16:17] PaterB commented on #85
Alright, i will try figure out how to build custom framework and email them. Thanks for your help!

[2016-05-16 11:53] PaterB commented on #85
Hi we manage to build custom framework and it is able to compile now. Hopefully it doesn't affect the core functionality.
We are still having issues in logging in to get approval.
Upon login in with our test account, I follow the steps and redirect back to our app.
Finally we get the token string.

`sdk_token=sandbox:WyJBMDE1UkRmRC5yT25uMmltWDREcVFVY3BYa3JSVEdwWlE4ekNoaElKQU9xa1BrdyIsIjI4ODAwIiwia

[2016-05-16 15:12] ppmtscory commented on #85
@PaterB this usually has to do with the account setup and/or the options selected on the REST Application. It would have nothing to do with the Partner ID.  I need to get some account information from you to make sure that everything is set up correctly.  Can you please send me the email address of the accounts that you are using via the email address above?  Just put attn: Cory in the email and I

[2016-05-16 16:13] PaterB commented on #85
I've send the email to pph-sdk@paypal.com

[2016-05-16 16:16] ppmtscory commented on #85
Yes, I see it.  I'll take a look, thank you.

[2016-05-16 16:33] ppmtscory commented on #85
@PaterB I modified your REST App for sandbox to include the right information.  The relevant scopes weren't selected in the REST App.  Aside from the PPH option, you'll also need to ensure that you have email, phone, and the address fields selected.  Those are found under the Log In With PayPal section once it and the Address Information sections are expanded.  I've configured your sandbox app for

[2016-05-17 15:27] PaterB commented on #85
Hi, thanks.
However I'm still receiving the same error.

[code]

[2016-05-17 20:11] ppmtscory commented on #85
Everything is set on your Sandbox application.  Did you go through the onboarding again with the merchant account so that the appropriate permissions can be granted?  You'll need to to through the flow again so that a new auth code can be generated and then subsequent refresh token.  If you didn't do this, then the tokens associated with that account will not have the correct permissions for what

[2016-05-18 03:34] PaterB commented on #85
Hi,
I believe there's something wrong with this url.

https://www.sandbox.paypal.com/webapps/auth/protocol/openidconnect/v1/authorize?
scope=https://uri.paypal.com/services/paypalhere email address  https://uri.paypal.com/services/paypalattributes/business  &response_type=code
&redirect_uri={redirectUri}
&client_id={clientId}

Can you explain to me what should I put in the scope?
Why is there an e

[2016-05-18 15:07] ppmtscory commented on #85
You need to use all those scopes.  Essentially it's 4 different scopes all separated by a space...
[code]
All those scopes are needed as that's the information that's grabbed from the merchant account by the SDK.  Since you are not using those scopes, the SDK can't grab the information, and therefore you get the crash.

[2016-05-19 03:47] PaterB commented on #85
Hi, seems to be good now. Finally.
We do not have a card reader, how do we populate PPHCardNotPresentData and pass into it?

[2016-05-19 16:02] ppmtscory commented on #85
Take a look at our older sample app [here](https://github.com/PayPal-Mobile/ios-here-sdk-dist/blob/release-1.5.2/SDKSampleApp/SDKSampleApp/STManualPaymentViewController.m) for more information on that.  Since you're not using the reader, you'll just have to manually call `userDidSelectPaymentMethod` and pass it in the payment type of `ePPHPaymentMethodKey`.

[2016-05-19 16:15] PaterB commented on #85
Finally! thanks, i'll play around with it.

[2016-05-24 12:59] PaterB commented on #85
Hi, how do we modify the page whereby it shows 'Payment Complete, would you like a receipt?

[2016-05-24 16:49] ppmtscory commented on #85
You won't be able to modify the receipt screen as it's implemented to appease EMV certification requirements.

[2016-05-24 17:19] PaterB commented on #85
But we need to remove the test alert option.

[2016-05-24 17:33] ppmtscory commented on #85
What test alert option are you speaking of?

[2016-05-26 05:21] vivekadvsol opened #87 "Trying to do Refund (for previously done PP transaction)"
Hi ,

I am struggling little bit to make a refund. Below are the methods I tired.

[code]
First Issue: This one doesn't send the refund figure to the reader.

[code]

My Approach 2 comes back with "INVALID_RESOURCE_ID". Approach 1 doesn't do anything as the reader not asking me to insert card. What am i doing wrong?

My apologies if my question and code appears silly. I am just 7 days old to objec

[2016-05-31 05:59] vivekadvsol commented on #87
Hi,
Could someone help me with this please or direct me to a forum. Thanks.

[2016-05-31 06:34] vivekadvsol commented on #87
Hi,
I found what i was doing wrong. Passing wrong **Invoiceid** (it supposed to be a lengthy unique id which starts with letter INV).

Thanks.

[2016-05-31 06:34] #87 closed

[2016-06-03 07:06] vivekadvsol opened #88 "Non-Paypal Refund and Oauth issue"
Hi,
I am trying to make a refund using PayPal ( The transaction was not done by paypal previously). I tried to use this ,
[code]

But i get an exception saying

So how do I approach this refund? Is there any other way?

[2016-06-03 19:47] ppmtscory commented on #88
I'm not aware of any way to refund a non-PayPal payment using this PayPal Here SDK in it's current state.

[2016-06-03 19:50] ppmtscory commented on #85
Ah, I think you're referring to the Sample Alert option.  This option is not shown by default.  It's only present in the sample app to simply show that it's something that can be done.

[2016-06-04 08:30] mobipos commented on #85
I'm doing the integration by copying codes from the sample app, so am I doing it wrong?

[2016-06-05 03:38] PaterB commented on #85
I'm doing the integration by copying codes from the sample app, so am I doing it wrong?

[2016-06-06 07:14] JohanSimiCart opened #89 "App crash when use login with setupWithCredentials"
Hi,

I try use Rest Api:

curl https://api.sandbox.paypal.com/v1/oauth2/token \
-H "Accept: application/json" \
-H "Accept-Language: en_US" \
-u "clientID:Secert" \
-d "grant_type=client_credentials"

And server respone access token. I use it and login paypal here with [PayPalHereSDK setupWithCredentials] but app crash and show error: "PPHAccessAccount fetchMerchantInfoAndThen:], /Users/mpavlinsky

[2016-06-06 17:48] ppmtscory commented on #85
If you don't want the sample alert option to be there, then you'd just not copy that portion from the sample app.  The code within `getReceiptOptions()` is what is putting this sample alert on the receipt page.

[2016-06-07 04:11] JohanSimiCart commented on #89
@ppmtscory Ok. I will read Docs and try it again. Thanks!

[2016-06-07 05:33] vivekadvsol commented on #88
Thanks @ppmtscory.

I wonder why there is _"beginNonPayPalRefundWithInvoiceId"_ exist in the sdk.

We have a scenario where our customer have windows POS and iOS pos. In Windows pos we use bank provided card reader/pin pad and in iOS we use paypal here.

If a customer done a transaction with bank provided reader @ Windows pos and comes to the iOS pos to do a refund , how can we do this with Paypal

[2016-06-07 07:03] JohanSimiCart commented on #89
@ppmtscory Could you please provide me the account test or enable my Paypal account?

Paypal account: dong.le@trueplus.vn

Please help me. Thanks!

[2016-06-07 15:27] PaterB commented on #85
Got it, thanks.
We are now trying to refresh the token, however fail to refresh it when it expires.
Before drilling into the problem, do you have any way we could manually make the token expire without waiting for 8 hours?

[2016-06-07 17:34] ppmtscory commented on #85
Hmm.. I'm not aware of a way to make it expire early but you could simply use a bad value for the access token to trigger an invalid token error if that's what you're looking for.  There's no way to modify the expiry value of the token itself.

[2016-06-07 17:47] ppmtscory commented on #88
Ya, I will need to do some research as to it's origin to know more about what it's availability is.  However, if there was a way to use the same POS system on both Windows and iOS, would that be something that you'd be interested in?

[2016-06-07 17:56] ppmtscory commented on #89
When testing in the Sandbox, you'll just need to create your own US Business account with the first name of 'Ryan'.  This first name will trigger a success response when you send it through the onboarding that's outlined in that documentation.  Essentially....

- Login to developer.paypal.com with your live account
- Create a REST App that has the relevant products enabled (PPH, address info under

[2016-06-08 02:16] vivekadvsol commented on #88
Thanks @ppmtscory :)

We cannot use the same as our windows POS system is a Microsoft one and we replicated the in iOS. We will find some work around like directing return/refund to Windows POS and use iOS as a pure queue  buster. Thanks for your effort :)

[2016-06-08 02:16] #88 closed

[2016-06-08 03:40] JohanSimiCart commented on #89
I try follow you and create new account with the first name of 'Ryan'. The account is apporve, I create a Rest App and enable all it. I try get access token with curl and use it login but the same error.

Could you pleaes check my account sandbox:"chihoangvuong94@gmail.com"?

[2016-06-08 11:00] PaterB commented on #85
Alright, let me describe the issue with refreshing token.

I'm using this as refresh token.
`MDHVoew4uJOOJEIGTarPaUfp7rVb-cyZLjxLQRhS5QlvstufVnU9rt3Oq0JY5HYokwH8jQfVORF_tcWYydpdFhsr3giSK5Izt9MibaaqYFOt1vt95YWlgrp9fbM`
posting to this url
`https://www.sandbox.paypal.com/webapps/auth/protocol/openidconnect/v1/tokenservice`
with my client id
`AZHfFgetsCo-eyEmsuyPw575T_1HMTIh2CPo5_T8wZ0Hr_pD4fLgbyD1AL

[2016-06-08 17:21] ppmtscory commented on #85
That sounds accurate.  Since the token isn't actually expired yet, it's re-used.  Can you modify that token string to be invalid and trigger the invalid token error that way?  What is the issue you're seeing with the refreshing anyway?  Perhaps I can help with that...

[2016-06-08 19:22] ppmtscory commented on #89
Are you directing that new sandbox account through the onboarding flow?  If you're simply using that same CURL command then you're still creating a first party token.  In the onboarding flow, like the docs state, after the account is approved for PPH, then you direct them to the `/authorize` endpoint to provide permissions and then that flow returns an auth_code.  This auth_code is then used with

[2016-06-09 02:01] JohanSimiCart commented on #89
Okie. I try it and success. Thank you!

[2016-06-09 03:25] #89 closed

[2016-06-10 02:35] PaterB commented on #85
The token is already invalid, but by requesting it's returning me the same.

[2016-06-10 15:00] ppmtscory commented on #85
The only time that the access token will return the same value from the call to retrieve it, is if it's still within it's 8 hour expiry window.  Your composite token that you posted above has the following (with some masking)...
[code]
The first value that starts with `A015` is the access token and that will only be the same if you are within the 28800 seconds (8 hour) window.

I just did a call t

[2016-06-10 17:49] PaterB commented on #85
Yes, I think only after the 8 hours, i will get a different token, if not I will get the same.
So right now this is the token I'm receving, however when I initialize it, it still fail.

`A015CXhKYnTFdW0G0iZX8fFf12vZ6cULDlweNzJo.v6CbBw
`
the entire token store in user default.

`sdk_token=sandbox:WyJBMDE1Q1hoS1luVEZkVzBHMGlaWDhmRmYxMnZaNmNVTERsd2VOekpvLnY2Q2JCdyIsIjI4ODAwIiwiaHR0cHM6Ly9jbG91ZC5tb2J

[2016-06-10 17:58] ppmtscory commented on #85
Hmm... that's strange as it seems the token expired early.  I just created a new one based on the refresh token and that initialized just fine.  If this new token, which you can get by running the call again, fails after 3 hrs, then please send the account through the onboarding again to generate a new auth_code and turn that into a new refresh token to store.

[2016-06-11 07:52] PaterB commented on #85
I got the EMV chip reader already, however i fail to upgrade the software.
When it prompts for software upgrade, the further I could go is step 5 out of 7.
Then it shows failed to upgrade, when I click on retry it fails immediately.
Then I factory reset the chip reader, it brings be back to step 5 then fail again.

[2016-06-13 15:23] ppmtscory commented on #85
Yes, you won't be able to upgrade the reader in the sandbox environment.  You'll need to use a Production account for any testing with the EMV reader.  I will reach out to you via email to see how we can help getting you set up with a Production account.

[2016-06-21 16:07] #85 closed

[2016-06-21 16:08] #84 closed

[2016-06-21 16:17] ppmtscory commented on #82
Closing as there's no way to set the PayPal Here App to sandbox mode.  The steps listed above were for an older version of the PayPal Consumer app and do not apply to the recent version, nor do they apply to the PayPal Here app.

[2016-06-21 16:17] #82 closed

[2016-06-21 20:31] ppmtscory commented on #77
@brainfuel my sincere apologies for not updating this thread.  After digging further, the receipts are actually showing the way they are intended to show.  The intention was to show this way as a way to not clutter the receipt and, really, just to make it easier on the eyes.  The calculations are correct, and as you stated, available to you as such.  The reason it's showing this way on the receipt

[2016-06-21 20:31] #77 closed

[2016-07-07 20:43] javagc opened #91 "Unable to connect Card Reader"
I have configured my app according to docs/ProjectConfiguration.md , but i can not connect card reader

**PayPalHereSDK.sharedCardReaderManager().activeReader().readerType** is not working for me

Are there any additional configuration?

Thanks

[2016-07-08 16:08] ppmtscory commented on #91
This is most likely due to the active merchant not being set completely.  Whether you're using Live or Sandbox, you'll need to ensure that the merchant account is set completely and is enabled for PayPal Here.  The merchant is set via either `setupWithCredentials` or `setupWithCompositeTokenString`.

[2016-07-08 16:47] javagc commented on #91
Thank you for your reply. Here is my code (see attached file) . we have

 configured merchant for PayPal here

`class PayPallViewController: UIViewController,PPHTransactionControllerDelegate {

    override func viewDidLoad() {
        super.viewDidLoad()
        PayPalHereSDK.sharedCardReaderManager().openActiveReader();
//        debugPrint(PayPalHereSDK.sharedCardReaderManager().activeReader().

[2016-07-08 17:10] ppmtscory commented on #91
I get an invalid access token error... can you refresh that and let me know?

[2016-07-08 21:28] javagc commented on #91
sorry my late response, A015rwH4tYFbvdip3XViwtcOrTjHEzwv4tbD52nZHDxyxrs there is new token

[2016-07-08 21:44] ppmtscory commented on #91
I'm seeing a scope error so therefore your merchant is not getting completely set up.  That access token comes up with a test-passenger@ email address.  Is that the account you want receiving the funds?  Whichever account you want to receive the funds, that's the account that you need to 'onboard' with the right scopes to get the refresh token to then turn into an access token.  Perhaps if you let

[2016-07-11 21:08] lomso commented on #91
@ppmtscory thanks so much for your help. I'm a teammate of @javagc. They way we have been generating refresh tokens was appropriate for newly onboarded merchants (as described here ). However, we ourselves have a merchant account with PayPal Here and Login with PayPal services enabled. So, we have the Client ID and Secret, but we are unclear about how to get the Authorization Code from PayPal. As

[2016-07-11 21:13] ppmtscory commented on #91
You can simply send your own account through the onboarding flow.  Just login with your own account and then you'll get the respective auth code from the onboarding flow for which you can turn into the refresh token to store for your own account.  Essentially you treat your own account just like a merchant account.

[2016-07-11 21:27] lomso commented on #91
Thanks. So we were doing it that way too but were unable to activate the Swiper. Could you please check if the following Access token is valid:
A015.1kmtDrBFPF1dTX1AS0Nou8AFPyZYg9xZafSRNOdQJQ

[2016-07-12 17:44] ppmtscory commented on #91
That access token is expired.  What errors are you seeing in the console logs when attempting to initialize the merchant account via `setupWithCredentials`?

[2016-07-13 00:00] rleiwang opened #92 "[Question] How to fetch unmasked email/phone?"
Is that possible to fetch unmasked email/phone from receiptDestination ?

[2016-07-13 02:24] djMax commented on #92
No, for privacy reasons.

[2016-07-16 12:52] javagc commented on #91
So, I am testing on Android now, my code is here

` PayPalHereSDK.init(this, PayPalHereSDK.Sandbox);

        Credentials credentials = new OAuthCredentials("A0151.bD53RwYRRn7wDWgyw4P5g2UGwbW5GrZNx7PZOxS24");

        PayPalHereSDK.setCredentials(credentials, new DefaultResponseHandler<Merchant, PPError<MerchantManager.MerchantErrors>>() {
            @Override
            public void onSuccess(Me

[2016-07-18 15:10] ppmtscory commented on #91
What is showing in logcat?

[2016-07-18 15:49] javagc commented on #91
![1](https://cloud.githubusercontent.com/assets/3741282/16920938/a4c26b14-4d20-11e6-8b05-4e726a4bfb82.png)

p.s new token is A015CCY4S7sZEPl60GTolAqvyBhSVYqArg--kAByu4-Kw58

[2016-07-18 16:32] ppmtscory commented on #91
@javagc that merchant account you were using didn't have PayPal Here enabled on it for sandbox.  I went ahead and manually toggled it on for you and ran a test payment through.  If you're merchant account isn't fully initialized, then the reader interactions will not work correctly.

[2016-07-23 22:02] lomso commented on #91
@ppmtscory After making sure the merchant was enabled for Here services in both Sandbox and Live, we have resolved this issue. We managed to connect with the card reader. Thank you for your help!

[2016-07-23 22:14] lomso opened #93 "Missing field: merchantInfo.businessName (ERROR 580029)"
We are trying to process real payments using a credit card swiper and are getting a following error:
Missing field: merchantInfo.businessName
(see the attached screenshot)

![2016-07-23](https://cloud.githubusercontent.com/assets/5263690/17080523/de385184-50f8-11e6-959c-e9c8f4ff6cfd.png)

I looked up the business name in the merchant's PayPal account that we are using for the testing and the busin

[2016-07-24 03:16] ppmtscory commented on #91
@lomso thank you for the update.  I will close this now.

[2016-07-24 03:16] #91 closed

[2016-07-24 03:23] ppmtscory commented on #93
Can you remove all tokens for the merchant and try to reconnect them?  Those scopes are good but, for some reason, your access token looks funky.  Also, make sure that you aren't trying to run the payment until after your merchant is fully initialized.  If you don't get the merchant fully initialized, this can happen.

[2016-07-24 14:21] lomso commented on #93
@ppmtscory Thanks for the prompt response. I just wanna make sure I'm not missing a step, by initializing, you mean from the client (mobile app) or from the intermediary server (our backend)?

[2016-07-27 17:38] ppmtscory commented on #93
I'm talking in the client - more specifically, either the `setupWithCredentials` method or the `setupWithCompositeToken` method.  This is what initializes the merchant and you need to wait for this success prior to running a payment.  During this initialization, the SDK is grabbing information about the merchant account based on the scopes that you were granted.

[2016-07-28 03:48] lomso commented on #93
I think it was your suggestion that our tokens looked funky that helped. We successfully managed to process payments. Thank you so much for your help.

[2016-07-28 22:26] ppmtscory commented on #93
That's great, thank you for the update!

[2016-07-28 22:26] #93 closed

[2016-08-18 21:05] javagc opened #94 "Payment completionHandler does not fire"
Payment works but  completionHandler does not fire. my code is here

[code]

[code]

i get error dialog if payment processing is not successfull

[2016-08-19 16:50] ppmtscory commented on #94
Please see my sample below and hopefully it will help you with yours...
[code]

[2016-08-20 15:35] javagc commented on #94
Thanks for quickly reply

unfortunately it does not working for me, i only get dialog message

[2016-08-23 04:40] ngoctr opened #95 "PPH SDK 1.6.6, iOS, Unregistered Account error 60006"
Hi, I got this error (in a Sandbox env) when trying to make a payment (with the TakePayment sample app):
{
  "title" : "PPH_EMVSDK_Error",
  "message" : "The operation couldn’t be completed. (pay\/unregistered_account error 600006.) - Unregistered Account",
  "buttons" : [
    "PPH_EMVSDK_OKLabel"
  ]
}

Is there anything I can do to fix this? Is this possible to test Payment and Refund with PPH i

[2016-08-23 14:50] ppmtscory commented on #95
This error will come up when the account you're using to receive funds isn't enabled for PayPal Here or the email address isn't confirmed on the account.  For getting a sandbox merchant account, login at developer.paypal.com, go to the dashboard, click sandbox accounts on the left menu, click to create a new account, and create a US business account with the first name of Ryan.  Then you can login

[2016-08-24 01:33] ngoctr commented on #95
Thanks for the prompt response @ppmtscory. Following the guide and the problem resolved. Thanks.

[2016-08-24 14:13] #95 closed

[2016-08-25 03:53] ngoctr opened #96 "Processing payment without using PPH's UI + Timeout issue (SDK 1.6.6)"
We tried to process a payment use the following flow:

1. Setup the invoice and add item, then call:
`[[PayPalHereSDK sharedTransactionManager]
      beginPaymentUsingUIWithInvoice:self.invoice
               transactionController:self];`
2. In  `- (void)userDidSelectPaymentMethod:(PPHPaymentMethod)paymentOption` we called `[[PayPalHereSDK sharedTransactionManager]
      processPaymentWithPaymentT

[2016-08-25 13:32] ppmtscory commented on #96
You don't have to use the UI if you are NOT using the EMV reader.  If you are using the EMV reader, then you have to use the UI as part of our EMV certifications.  For getting the contactless timeout, you'd utilize [`contactlessTimeoutAction`](http://paypal-mobile.github.io/ios-here-sdk-dist/Protocols/PPHTransactionControllerDelegate.html#//api/name/contactlessTimeoutAction) via the `PPHTransactio

[2016-08-25 13:32] #96 closed

[2016-08-28 23:38] ngoctr opened #97 "Refunding a transaction that was paid by "UNKNOWN" requires transactionId to be set on the transaction record."
For refund, we stored the Paypal InvoiceId, then download the invoice using [Paypal API](http://paypal-mobile.github.io/ios-here-sdk-dist/Classes/PPHInvoice.html#//api/name/downloadInvoiceForInvoiceId:context:completionHandler:): (as the refund API required the input an invoice), then call the refund API in the same way as the TakePayment app. However, we got the following error: “Refunding a tran

[2016-09-09 01:32] hsb1007 opened #98 "merchantInfo.businessName missing field"
Hi all,

I am going through the 'TakePayment' sample app at the moment.

Is this sample app supposed to work all the way?

I am getting 'Missing field: merchantInfo.businessName' error when making payment.

I am logging in with Production live paypal account and using the existing webservice that came with the sample app.

[2016-09-09 14:54] ppmtscory commented on #98
@hsb1007 yes, it will work out of the box.  You need to make sure that your account that you're logging in with has PayPal Here enabled on it and that it's a Business account.

[2016-09-30 10:49] si458 commented on #42
sorry to update an old issue,
but was the any update on a PayPalHERE SDK for Phonegap/Cordova?

[2016-10-04 14:17] dvalenzuela opened #100 "Crash while using setActiveMerchant"
Paypal team: Our team has faced this crash once, we were using your setActiveMerchantAPI and our IOS application crash due to the following error.

NSInternalInconsistencyException
[PayPalHereSDK activeMerchant].currencyCode is nil. Either set this value or use initWithCurrency:

[2016-10-04 21:12] ppmtscory commented on #98
Closing this due to inactivity.  If your issue persists, please either reopen or create a new issue with additional details.

[2016-10-04 21:12] #98 closed

[2016-10-04 21:15] ppmtscory commented on #100
This usually happens when you're using an invalid merchant account and it can't be fully set.  Also, this method is being deprecated so you should really use either `setupWithCompositeTokenString` or `setupWithCredentials` methods.  As for the merchant account, make sure that it's a valid US, UK, or AU Business account and has PayPal Here enabled on it.

[2016-10-04 21:29] ppmtscory commented on #97
If you're still running into this issue, can you paste your code here so I can try to reproduce?  I use the same `downloadInvoiceForInvoiceId` method and then do a `beginRefundUsingUIWithInvoice` call with the returned invoice object and everything seems to be working peachy.

[2016-10-04 21:29] #92 closed

[2016-10-05 18:32] borut-t opened #101 "Missing support for arm64 & i386 architectures"
After installing sdk with cocoapods the project build on Xcode 8, swift 3 fails with error:

[code]

It looks like it cannot run on simulator (i386 architecture) and/or on device 64-bit architecture. Is that correct?
Is there a way to build i386/arm-64 binaries?

[2016-10-11 21:28] ppmtscory commented on #101
@borut-t I'm going to close this out per our conversation.  The issue had to do with the podfile being used and the way everything was being loaded.

[2016-10-11 21:28] #101 closed

[2016-10-11 21:28] ppmtscory commented on #100
Closing this due to inactivity.  If your issue persists, please either reopen or create a new issue with additional details.

[2016-10-11 21:28] #100 closed

[2016-10-11 21:29] ppmtscory commented on #97
Closing this due to inactivity.  If your issue persists, please either reopen or create a new issue with additional details.

[2016-10-11 21:29] #97 closed

[2016-10-11 21:36] ppmtscory commented on #86
My apologies for the delay but everything should be working on this front.  If you're seeing anything different, please do let us know.

[2016-10-11 21:36] #86 closed

[2016-10-11 21:36] ppmtscory commented on #94
@javagc my apologies for the abandonment here.  Were you able to get this going?

[2016-11-03 21:11] lomso commented on #94
@ppmtscory Sorry for such late reply. Yes this particular issue was resolved. Thanks for your help.

[2016-11-03 21:20] #94 closed

[2016-11-14 01:03] ngoctr opened #105 "XCode 8, 1.6.8 Duplicate symbol issue"
We can't use PPH 1.6.8 as we got duplicate symbol issues Switched back to 1.6.6, no issue.
`clang: warning: libstdc++ is deprecated; move to libc++
duplicate symbol __ZN22SW_DecodeMagController11GetWavStateEv in:   <ProjectFolder>//Pods/PayPalHereSDK/SDK/Debug/PayPalHereSDK.framework/PayPalHereSDK(SW_DecodeMagController.o)
duplicate symbol __ZN22SW_DecodeMagControllerD1Ev in:
 <ProjectFolder>//Pod

[2016-11-14 13:52] damavik opened #106 "Invalid destination platform sdk/name"
**iphonesimulator** is pointed both for destination platform sdk and name:
https://github.com/PayPal-Mobile/ios-here-sdk-dist/blob/master/SDK/Release/PayPalHereSDK.bundle/Info.plist

That's incorrect. Should be **iphoneos**

[2016-11-14 15:21] ppmtscory commented on #105
Are you using Magtek libraries within your App as well?  Essentially it seems like you're using a third party library that's already included in the PPH SDK which is causing the duplicate.  The most common is when folks use reader/swiper libraries on their own which are also included in the SDK.

[2016-11-14 15:22] ppmtscory commented on #106
Thank you for bringing this to our attention.  I'll have the guys fix this with the next release.

[2016-11-14 19:02] BoutemineOualid opened #107 "ProcessPaymentUsingUIWithPaymentType not executing the call back upon a failed transaction"
Hi,

I'm currently having an issue where the receipt page doesn't get hidden when I click on no receipt upon a failed transaction.

I found out that the ProcessPaymentUsingUIWithPaymentType method doesn't call the completion callback I passed as a parameter. This doesn't happen when I use ManualEntryOrScannedCardData to set the card data instead of a swipe.

Now, the user gets stuck on the receipt

[2016-11-15 06:24] damavik commented on #106
Thanks a lot!

[2016-11-21 01:58] rleiwang opened #108 "Pod install PayPalHereSDK/Release version 1.6.8 failure"
I can't pod install version 1.6.8 of the release version PayPalHereSDK/Release. How can I pod install the release version? I can only find 1.6.6.

[2016-11-21 08:00] thuydao commented on #101
@borut-t : You can fix this problem by add 'CoreLocation' to project:
Go to: Project> Build phases > Link Binary With Libraries> select '+' > add CoreLocation.Framewor.
This work for me!

[2016-11-21 08:06] borut-t commented on #101
@thuydao already did that.

[2016-12-08 14:30] kevintparker opened #109 "PayPal HERE SDK URI"
PayPal Technical support forwarded me so I was hoping someone can give me an answer here. I am posting this on both Android and Apple PayPal SDK sites.

**_Based on the documentation:
The PayPal Here SDK for iOS is a collection of classes, protocols, and other resources for developing point-of-sale apps that run in iOS. It communicates with the underlying PayPal APIs at the following URIs:
https:/

[2016-12-08 14:54] ppmtscory commented on #109
What you get with that call is what you'll get.  Can you outline what you want to do exactly and I can recommend the right way of doing it?  For what you want to do, whether it be list or search, you can utilize the REST Invoicing APIs accordingly.

[2016-12-08 15:04] kevintparker commented on #109
I am trying to create a online report.

I wrote a web application that uses the sideloader perfectly. We store the invoice and our 'order id' in a flat file json database (firebase to be exact) just before creating the invoice and sending to the PayPal HERE app.

The PayPal Invoicing API worked for all transactions except Cash and Check, so after scouring the internet, I found the hereapi URI ment

[2016-12-08 15:11] ppmtscory commented on #109
Well, there's a couple of options you can play with.  You can get a [List of Invoices](https://developer.paypal.com/docs/api/invoicing/#invoices_get-all) and adjust the `page_size` accordingly.  Otherwise, you can use the [Invoice Search](https://developer.paypal.com/docs/api/invoicing/#invoices_search) and then you can search based off of the `number` field to match up with your own order ID you

[2016-12-08 15:23] kevintparker commented on #109
Your last paragraph was what I have been searching the entire internet for. I think I can even update my Stackoverflow question from a couple of weeks ago in which I thought the hereapi URI would work.

Thank you.

[2016-12-08 19:53] #109 closed

[2016-12-12 10:01] thuydao opened #110 "Q: How do I can get 'onWaitingForDevice' event?"
Pls help me to get this event:
[code]

[2016-12-15 00:59] dvalenzuela opened #111 "Active Merchant Crash"
Using the method on PayPalHereSDK

+(void)setupWithCredentials:(NSString *)access_token refreshUrl:(NSString *)refresh_url tokenExpiryOrNil:(NSString *)expiry thenCompletionHandler:(PPHInitializationCompletionHandler) completionHandler;

Returns
Status = ePPHAccessResultSuccess
error = nil
info = active merchant with currency code and all sets

When processing a check or cash payment I get the fol

[2016-12-16 17:34] ppmtscory commented on #111
@dvalenzuela I spoke with Matthew this morning via skype regarding this and so I'm going to close this out for now.  If the issue reoccurs, please let us know.

[2016-12-16 17:34] #111 closed

[2016-12-26 04:17] EddieLukeAtmey opened #113 "Unable to include paypalhere SDK to podspec of a pod module"
Hi guys,

My co-worker and I are writing a dependent, reusable module, which supposes to work with PaypalHereSDK (and many other payment gateways). We expect it to become a local pod repository, which we'll use in our company's other project.

Problem is, we can't include your SDK pod to our podspec:

[code]

Error: [!] Unable to find a specification for `PaypalHereSDK` depended upon by "myModule"

[2016-12-27 02:27] #110 closed

[2016-12-27 02:29] thuydao commented on #110
We can get this event via below method and from 'PPHLoggingDelegate'
- (void)logPayPalHereHardwareInfo:(NSString *)message;

[2017-01-03 17:03] ppmtscory commented on #113
It looks like you may have a capitalization issue with the pod name.  It should be capital P's in the name such as `PayPalHereSDK`, whereas you have it as `PaypalHereSDK`.  This link [here](https://github.com/CocoaPods/CocoaPods/issues/3877) outlines some issues folks were seeing with capitalization of dependencies.  Let me know if this works or not.

[2017-01-03 18:02] dvalenzuela opened #114 "Xcode 8 warning libstdc++ is deprecated; move to libc++"
On Xcode 8.2.1 Apple is marking as a warning
 **libstdc++ to be deprecated.**

If we update as per request from apple to libc++ on the build configuration we get Linker Errors like
Undefined symbols for architecture arm64
"std::ios_base::Init::Init()", referenced from:
      __GLOBAL__sub_I_SW_FskController.mm in PayPalHereSDK(SW_FskController.o)

[2017-01-04 07:17] jinpengduan opened #115 "App integrated with 1.6.8 SDK was rejected by Apple"
Hi,

Our POS app have PayPal Here integrated and after we swap in 1.6.8 SDK, our submission of updated app to Apple Store was rejected with this explanation:

"
1 package(s) were not uploaded because they had problems:
    /var/folders/rz/f9y16h6j0_39m5f1qrxprhg93xs7r4/T/DC116B91-2E9B-4347-9CB2-7405AF92B6B9/1001297342.itmsp - Error Messages:
        ERROR ITMS-90542: "Invalid CFBundleSupportedPlat

[2017-01-04 14:41] ppmtscory commented on #115
Hello, @jinpengduan, yes this is incorrectly labeled in the Release version of the Info.plist file.  To submit your app, you can simply manually edit this to be the same as Debug (iPhoneOS) and it should be allowed.  We'll be changing this with the next release, but until then, you can manually edit it prior to submitting to Apple.

[2017-01-04 14:41] #115 closed

[2017-01-06 04:24] rleiwang opened #116 "How long should I expect to get response from PPH-SDK"
Hi,

I have submitted the form to PPH-SDK. Does any one know how long should I expect to hear back?

Thanks,

[2017-01-06 15:02] ppmtscory commented on #116
@rleiwang I see that your form was submitted earlier this week so you should hear something back either today or Monday most likely.

[2017-01-06 15:02] #116 closed

[2017-01-12 01:17] rleiwang commented on #116
@ppmtscory I still haven't heard any thing yet. Could you help to check?

[2017-01-12 15:01] ppmtscory commented on #116
I will shoot an email off and see if there's any update.  I'll have them update you via email.

[2017-02-01 12:44] damavik opened #117 "Fetching detailed error info for any occured error"
Hi guys,

Probably I've misunderstood something but what's the production-ready method for fetching detailed error info? For instance where could I grab NSError/NSString for the ePPHTransactionType_FailedToReadCard transaction manager event?

And yes I've seen (and using) the following debug interface https://github.com/paypal/paypal-here-sdk-ios-distribution/blob/master/SDK/Release/PayPalHereSDK.

[2017-02-04 20:31] rleiwang opened #118 "Is there a market place in PayPal to show case APPs developed with this SDK?"
I recently developed an IOS app. I am just wondering if PayPal would have website to show case  applications developed with this SDK

[2017-02-06 15:15] ppmtscory commented on #118
@rleiwang please send an email to pph-sdk@paypal.com with this question.

[2017-02-06 15:15] #118 closed

[2017-02-11 01:51] sanjitsaluja opened #119 "PayPalHereSDK/Release App Store Submission Issue"
`ERROR ITMS-90542: "Invalid CFBundleSupportedPlatforms value. The key 'CFBundleSupportedPlatforms' in the Info.plist file in bundle 'Payload/Chedda.app/PayPalHereSDK.bundle' contains an invalid value '[iPhoneSimulator]'. Consider removing the CFBundleSupportedPlatforms key from the Info.plist. If this bundle is part of a third-party framework, consider contacting the developer of the framework for

[2017-02-11 01:58] ppmtscory commented on #119
Hey @sanjitsaluja - you will need to adjust this value manually, in the Info.plist file, to iphoneos prior to submitting.  We'll try to fix this with our next release.

[2017-02-11 01:58] #119 closed

[2017-02-11 02:22] sanjitsaluja commented on #119
Thank you @ppmtscory Do you which files?

[2017-03-02 00:55] Zyphrax opened #120 "Active development?"
We are considering implementing the PayPal Here SDK in our POS product.

A few things worry me though:
- the (closed source) framework seems to be build with libstdc++ which is deprecated, see https://github.com/paypal/paypal-here-sdk-ios-distribution/issues/114
- my app is 21MB at the moment, the framework seems to **add 55 MB!** (excluding bundle)
- to use the framework with Swift you have to us

[2017-03-02 17:31] ppmtscory commented on #120
@Zyphrax this SDK is very much still in the loop with things.  Our resources and priorities are currently being occupied with a revamp of this SDK.  We're hoping to have the new & improved SDK available a little bit later this year.  Unfortunately I don't have an exact timeline for that, but just know it's coming.  Hence, since this SDK does work 'as is' (and many folks are using it successfully),

[2017-03-05 21:57] Zyphrax commented on #120
@ppmtscory thank you, a revamped SDK sounds great!

Is there a specific reason that you are developing it closed source?
Or not at least partially open source?

For more information on module maps:
http://blog.cocoapods.org/Pod-Authors-Guide-to-CocoaPods-Frameworks/

[2017-03-05 22:36] djMax commented on #120
I don't work at PayPal anymore (I used to), but part of the reason is that especially for EMV, these things require external certification by other entities. So if it's "easy" to change the behavior, it would likely fail certification. In the end it's just code, so I get that there's no such thing as inviolable code...

[2017-03-07 17:41] Zyphrax commented on #52
This is still an issue.

[2017-03-07 23:19] Zyphrax commented on #120
I've started working on integrating the SDK.

First I had to disable Bitcode on my project, which is unfortunate.

After that I worked on code handling device events of the bluetooth reader and after about an hour of testing I ran into this issue: https://github.com/paypal/paypal-here-sdk-ios-distribution/issues/22

Now it keeps crashing (as described in the issue). It might stop when I restart th

[2017-03-13 18:34] Zyphrax commented on #120
@mpavlinsky, @paypalsathya or anyone?

[2017-03-17 02:10] Zyphrax commented on #120
I've decided to look for another platform.

[2017-03-17 02:10] #120 closed

[2017-03-23 01:17] TomCarey opened #121 "App crashing rather than erroring gracefully PPHAccessAccount.m:156"
I have encountered a crash matching this description https://github.com/paypal/paypal-here-sdk-ios-distribution/issues/89 and it is frustrating for our users because there is no indication of how they can resolve it.

[code]

Could you instead bubble up an error or consider providing useful information in your SDK as to why the user's account is not set up properly? This way our app doesn't crash

[2017-03-23 17:09] ppmtscory commented on #121
So this crash has to do with the SDK not being able to get the email address from the merchant account that's being initialized.  While we're working hard on our 2.0 SDK, I will put a notice out there to handle this better within that SDK.  With that being said, how often is this happening, and when exactly is it crashing?  Is it crashing in the setupWithCredentials call or at the time of payment?

[2017-03-27 17:37] XeniousSoftware commented on #107
i am also having the same kind of issue where the completionHandler is not called

[2017-03-27 18:23] ppmtscory commented on #107
The completionHandler is likely not getting called until after that receipt page because the SDK handles all of the payment UI when implementing those methods.  This control would also include dismissing that receipt page.  Not having that dismissal is what we'd likely need to investigate here and with that said, I'm wondering if you see anything in the console logs regarding any warnings with you

[2017-03-27 19:31] XeniousSoftware commented on #107
Actually i am implementing a Cordova/Phonegap Plugin for paypal here.

everything working but just the completion handler is not called.

[2017-03-27 19:34] XeniousSoftware commented on #107
i call this after initializing the SDK with token.

[code]
#pragma mark -
#pragma PPHTransactionControllerDelegate implementation

-(UINavigationController *)getCurrentNavigationController {
    return [[self viewController] navigationController];
}

// When the customer either taps, inserts or swipes their card, SDK would call you with this.
// Update your invoice here, if needed, before we proce

[2017-03-27 20:49] ppmtscory commented on #107
If the receipt screen isn't disappearing at all, then that would most likely have something to do with your view hierarchy since all that the "No Receipt" option is doing is dismissing the view that the SDK is using for the UI.  Once that screen disappears, then your callback handler will be hit because that's when control goes back to your app.  Can you please debug that on your end to ensure tha

[2017-04-05 10:25] crissTM opened #123 "Add Carthage support"
won't compile with Carthage
Parse error: expected submodule commit SHA in output of task (ls-tree -z v1.6.6 nimbus) but encountered:

[2017-04-10 09:31] damavik opened #124 "SDK setup fails on iOS 10.x"
Has anybody noted that PPH SDK (version 1.6.8) just stopped working on iOS 10.x (e.g. with base SDK 10.3)? I mean the following error on +(void)setupWithCompositeTokenString:.. or +(void)setActiveMerchant:.. invocation:

On iOS 9.x everything works correctly, SDK setup succeeds.

Haven't digged too deeply but looks like it's a **blocking issue**. It could be easily reproduced even with **TakePayme

[2017-04-10 13:46] ppmtscory commented on #124
I just ran the TakePayment app on Friday to gather some logs and everything worked fine.  I was using 10.2.1.  Also, I ran another app, using the PPH SDK with the iPad on 10.3.1 and that also connected fine.  Can you post a ticket to www.paypal-techsupport.com/app/ask and provide the account email addresses that you are using?  I don't want you posting that info here in a public forum.  Let me kno

[2017-04-10 14:11] damavik commented on #124
@ppmtscory Well there's no secret. I just tried the **TakePayment** sample within sandbox env. For that I changed the login url to [http://pph-retail-sdk-sample.herokuapp.com/toPayPal/sandbox](http://pph-retail-sdk-sample.herokuapp.com/toPayPal/sandbox) and used a sandbox acc **test-biz-1-us@pp.com** (got from [http://pp-retail.com/sdk/](http://pp-retail.com/sdk/)). The actual result is failed **P

[2017-04-10 14:22] ppmtscory commented on #124
I'll run it with that account and see if I can reproduce.

[2017-04-10 16:24] ppmtscory commented on #124
@damavik it appears that there's an issue with the /status endpoint that's used in the Sandbox.  I will have the team take a look right away.  Thanks for reporting.

[2017-04-10 20:31] ppmtscory commented on #124
@damavik it looks like there's something different with the way things are handled with 10.3.  I use a 10.2 simulator and everything works fine, but when I switch to 10.3, I see the same crash.  I'll continue to dig and see what we need to update in the sample app.

[2017-04-12 07:27] GurvinderParas commented on #38
Not getting access token Using Refresh token gives error client id or secret is null

Any Solution!

[2017-04-12 14:40] ppmtscory commented on #38
@GurvinderParas please file a ticket at www.paypal-techsupport.com/app/ask with the account information that you're using and we'll have somebody take a look.  Please provide the request/response showing the error with correlation ID.

[2017-04-13 04:56] GurvinderParas commented on #38
I already done this. But I never get any response.

[2017-04-13 13:39] ppmtscory commented on #38
Can you let me know the ticket number so that I can make sure somebody has a look?

[2017-04-13 14:14] damavik commented on #124
@ppmtscory Sorry for disturbing.
Any news on that issue? What's an ETA for the fix?

[2017-04-13 14:16] ppmtscory commented on #124
I haven't found a resolution just yet, but I can tell you that it only happens on sandbox and only for 10.3.  Therefore, for your testing, please continue to use 10.2 for the sandbox environment.

[2017-05-17 19:48] afarouk opened #125 "Refund methods"
Hello Paypal,

We are using PAYPAL HERE IOS SDK in our IPAD app to process credit cards. we need to implement full refunds in our app. we have seen two methods in PPHTransactionManager class

Question 1 : can we use below method, by just passing Transaction ID to this method ?
beginRefund:(PPHTransactionRecord *)previousTransaction

Question 2 : what is the difference between
beginRefund:(PPHTrans

[2017-05-17 19:49] #125 closed

[2017-05-17 19:51] rrepaka opened #126 "Refund methods"
Hello Paypal,

We are using PAYPAL HERE IOS SDK in our IPAD app to process credit cards. we need to implement full refunds in our app. we have seen two methods in PPHTransactionManager class

Question 1 : can we use below method, by just passing Transaction ID to this method ?
beginRefund:(PPHTransactionRecord *)previousTransaction

Question 2 : what is the difference between
beginRefund:(PPHTrans

[2017-05-17 20:06] ppmtscory commented on #126
The extra method with `UsingUIWithInvoice` is used for refunds of EMV transactions.  Therefore, if you are integrated and using the EMV reader, then you'll need to implement the `beginRefundUsingUIWithInvoice` method.  If you're simply using the triangle dongle for magstripe only, then you can use the `beginRefund` method.  As for the invoice, yes, you'll need to pass in the `PPHInvoice` for that

[2017-05-24 04:24] ngoctr opened #127 "Error: target has transitive dependencies that include static binaries: (/xxxx/PayPalHereSDK/SDK/Debug/PayPalHereSDK.framework)"
We couldn't install PayPalHere SDK due to the following issue:
`[!] The 'Pods-xxx' target has transitive dependencies that include static binaries: (<ProjectPath>/Pods/PayPalHereSDK/SDK/Debug/PayPalHereSDK.framework)`

We use PayPalHere SDK in a separate dynamic framework (and use_frameworks in the pod of the mai app).

Any ideas guys, it seem PPH required a static library.

[2017-05-24 08:26] nbaulesglobalsolutions commented on #127
How can one establish a static library..?

[2017-05-24 20:17] rrepaka commented on #126
Thanks for your response.

[2017-05-24 20:17] #126 closed

[2017-06-08 02:38] dlb6675 opened #128 "Brown,s Home Services"

[2017-06-08 14:22] #128 closed

[2017-06-08 14:31] #105 closed

[2017-06-13 21:22] rrepaka opened #129 "Print receipt functionality on Payment complete screen"
Hello sir,

we are using Paypal here SDK in our app and we want to add "Print Receipt" button on Payment complete screen along with

	Email
	Text
	No Receipt
	**Print Receipt (we want to add this button)**

**1.** Can we add this button on Payment complete screen like shown in attached screen ?

**2**. Do you guys have a some sample code (even simple steps) for this functionality ? if yes could yo

[2017-06-14 14:12] ppmtscory commented on #129
Yes, there's a sample in the TakePayment app at the bottom of the `PaymentViewController.m` file.
[code]
This sample just adds a _Sample Alert_ option which brings up an alert box.  You'll just need to modify it to say _Print Receipt_ and connect it to your printer functions instead of bringing up an alert box.

[2017-06-15 16:24] jnwagstaff opened #130 "Invalid CFBundleSupportedPlatformsValue"
![screen shot 2017-06-15 at 10 22 20 am](https://user-images.githubusercontent.com/19917310/27191354-c476a346-51b4-11e7-95a3-1112b8d6b500.png)

When I try to push this to testflight this is the error I get.  Is there any way we can remove this key from the info plist?

[2017-06-16 15:09] ppmtscory commented on #130
You simply need to change it to `iphoneos` instead of `iphonesimulator`.  We'll fix it if there's another push but I don't anticipate that as we're getting ready to release the 2.0 version of the SDK.

[2017-06-16 16:57] jnwagstaff commented on #130
Okay sounds great thanks for the response

[2017-06-16 16:58] #130 closed

[2017-06-20 21:38] joeynelson42 opened #131 "Please Remove Card modal not dismissing"
When using processPaymentUsingUI a transaction with a chip reader in swift, the next screen that shows up is frozen and doesn't allow me to do anything.  I am returning the correct navigation controller and everything.  Is there a solution for this?
![img_0355](https://user-images.githubusercontent.com/10519018/27357174-68313650-55ce-11e7-864a-43ee2c48ce36.PNG)

[2017-06-21 04:34] jnwagstaff commented on #131
I have the same problem when trying to call processPaymentUsingUI within a swift file.

[2017-06-21 17:10] joeynelson42 commented on #131
I think #3 might be our issue, we have a somewhat complex UI structure. I'll let you know how things go!
Thanks!

[2017-06-22 15:05] jnwagstaff commented on #131
So before I had a tab bar hidden in my app and even when not hiding it I am getting the same problem.  Is there any way you could send me your swift sample app?  Whenever a signature is required it shows the signature view with the modal already on top of it and you can't navigate anywhere with it.

[2017-06-22 15:10] thwaiteschris opened #132 "Receipt Options Not Presented"
I'm integrating the PayPalHereSDK into my Single Page Objective-C app.

Everything seems to be working correctly with the Reader events and detection, and the processing of payment, BUT the Receipt Options are never presented to the screen, which in turn means that the processPaymentUsingUIWithPaymentType completion handler never fires, which leaves my app hanging, having taken a successful paymen

[2017-06-22 15:34] jnwagstaff commented on #131
Also this only happens when a signature is required could I be missing another element for that?

[2017-06-22 15:59] ppmtscory commented on #131
As long as the SDK UI is being presented from the top view of your hierarchy, with nothing else in the way, it should be fine.  I can share my very simple sample, sure, but I need to clean it up first because there's a done of random commented code.  I'll see if I can get some time to do that today sometime.

[2017-06-22 17:28] ppmtscory commented on #131
Attached is a zip of my very simple sample app.  It was an app put together through an online Swift course and not all of the functionality of the app itself works (the pictures don't xfer in the segue because I broke it somehow) but the PayPal Here portion definitely works just fine.  Also, don't make fun of my coding skills - I'm a rookie yet. :)

The merchant loads on the first page, invoice is

[2017-06-27 01:42] jnwagstaff commented on #131
Thanks so much! I was able to solve my problem

[2017-06-27 01:44] jnwagstaff opened #133 "Unregistered Account"
I have not been able to find a way to see if the active merchant is registered with PPH.  I get a token back if the user has a paypal account but not registered with Pay Pal Here.  I've read a lot of the docs and haven't found anything that tells me if they are registered or not.

[2017-06-27 15:27] ppmtscory commented on #131
Thanks for the update @jnwagstaff.

@joeynelson42 were you able to get your UI all configured correctly?

[2017-06-27 15:28] ppmtscory commented on #133
Check out the _Status Check_ section of [this page](https://developer.paypal.com/docs/integration/paypal-here/merchant-onboarding/initiating-the-onboarding-flow/).

[2017-06-28 10:15] thwaiteschris opened #134 "Error on refund"
I am trying to give a refund on a successful PayPal Here transaction. I have the TransactionId, but no other information.
My code is as follows:

[code]

However, this always comes back with the error:

When I look at the transaction in question in my PayPal dashboard, I cannot see anything unusual about it. The status is "Completed" and in the transaction detail page I have the option (which work

[2017-06-28 11:03] thwaiteschris commented on #134
OK, so I've found a work-around for this. Instead of processing the refund through the sharedTransactionManager (which always errors), I can process it through the sharedPaymentProcessor:

[code]

I'll leave the issue open, since I feel like the original issue of an error when using the sharedTransactionManager still stands. But feel free to close it if you wish.

Cheers,
   Chris

[2017-06-28 12:54] thwaiteschris opened #135 "SDK not auto-refreshing token on expiry"
I have implemented my own OAuth server. The user can log on to get their composite token as expected.

However, when that token expires, the iOS PayPalHere SDK does not seem to be able to refresh it.

For info, I am running setupWithCompositeTokenString

with the the long composite token that works for the first 8 hours, so the format, encoding, etc must be correct:
`"live:WyJBMjNBQUVEd2......ZSE9

[2017-06-28 14:55] joeynelson42 commented on #131
I did! Thanks @ppmtscory!

[2017-06-28 14:55] #131 closed

[2017-06-28 15:00] ppmtscory commented on #134
Can you please share the transaction ID that you're trying to refund?

[2017-06-28 15:50] thwaiteschris commented on #134
Sure, it's 7PY09357FG981493A

Please let me know if there's any other info that would be useful.

[2017-06-28 17:47] #133 closed

[2017-06-28 17:48] jnwagstaff opened #136 "Active Merchant not Persisting"
So in the docs it mentions that the active merchant info will persist in secure storage.  Every time I restart the app the activemerchant is now nil?  Do I need to save the compositeString in userdefaults to keep refreshing the active merchant every time after they open the app or the active merchant is nil?

[2017-06-28 18:00] ppmtscory commented on #136
You can use UserDefaults if you like, for testing, but I wouldn't recommend that for a production scenario.  Essentially, each time the customer logs into your app, you would grab the appropriate token, from your server, to pass into the SDK.  Each time they login, you'd run the `setupWithCredentials` or `setupWithCompositeTokenString`, whichever you're using.

[2017-06-28 18:09] jnwagstaff commented on #136
Would you recommend storing the refresh token securely in keychain access and grabbing the access token using that refresh?

[2017-06-28 18:11] ppmtscory commented on #136
Any refresh tokens should be stored server side.  Your refresh URL should point to your server that will then get the appropriate refresh token and generate a new access token to then pass back into the SDK.

[2017-06-28 18:30] jnwagstaff commented on #136
So basically a user would have to login to pay pal here every time they open the app after quitting unless we tie our PPH tokens to our users in our system?

[2017-06-28 18:32] ppmtscory commented on #136
Yes, that's correct.  You'll want to store the refresh token for each user so that you can generate an access token for them automatically and they don't have to go through the login each time.

[2017-06-28 19:25] ppmtscory commented on #134
Hmm... I don't see anything with that transaction, and I was able to successfully init a transaction record and do a refund.  Below is the code I used (Swift):
[code]

[2017-06-28 20:13] ppmtscory commented on #135
Did you deploy our Node sample server that we have or are you doing this on your own?  I'm not seeing any issues currently with my deployment of the sample server but I'll check again tomorrow when the first access token expires to see if it will auto refresh like it should.

[2017-06-29 09:24] thwaiteschris commented on #134
OK... since it all seems to be working as expected for you I'm happy to assume there's something weird in my implementation and close the issue.

Like I said, I found a work-around, so only left the issue open for your info.

Thanks for looking into it.

[2017-06-29 09:24] #134 closed

[2017-06-29 09:26] thwaiteschris commented on #132
It looks like this issue isn't getting any traction, and in the meantime I've re-written my app in objective-c, where everything is (so far) working correctly. So closing the issue.

[2017-06-29 09:26] #132 closed

[2017-06-29 09:37] thwaiteschris commented on #135
Thanks for responding.

I've written my own simple OAuth server in c# to run on our IIS web server.

I used this link (from the http://pp-retail.com/sdk/ step 4 - Granting Merchant Permissions page):

There's at least one issue with this code. When getting the access token from the refresh token, it re-sets the scope. This broke the new access token. Removing the scope parameter when making the ca

[2017-06-29 20:00] ppmtscory commented on #135
@thwaiteschris I may have found an issue in our refresh logic of the SDK that's causing the issue.  This failure to retry on a certain internal endpoint is causing the issue you are seeing as it’s not being retried with the refreshed access token.  The bad news is that our resources are all tied up with higher priority things regarding our new SDK that we’re trying to release.  With that being sai

[2017-06-30 08:13] thwaiteschris commented on #135
OK, thanks for letting me know and putting me out of my misery!

I'll implement a workaround of some sort.

[2017-06-30 08:13] #135 closed

[2017-07-03 03:23] ngoctr opened #137 "Software upgrade failed, app crashed"
We faced an issue where the software upgrade process always failed. Sometime it failed at step 7/9, sometime 3/5?? Xcode 8.3/iOS 10.3.2.
![failed to upgrade](https://user-images.githubusercontent.com/17534738/27777043-9c58bdc6-5fd9-11e7-87b3-ceb09334fdee.jpg)

[2017-07-07 16:05] arunjnair15 opened #138 "Sdk occur random crash when trying to make payment"
*** Assertion failure in -[PPHPaymentProcessor beginChipAndPinAuthorization:isContactless:withPaymentType:isBelowContactlessCVMLimit:withBondReaderMetaData:forInvoice:completionHandler:], /Users/schandrashekar/Documents/Workspace/ios-int-dist/source/PayPalHereSDK/Payment/PPHPaymentProcessor.m:348

[2017-07-07 21:36] ppmtscory commented on #138
That assertion has to do with something wrong with the invoice that's being created.  Can you please provide more of the console logs from before and after the error so that I can see the flow of things?  Also, there may be a correlation ID showing which would be a direct link to the logs on our side.  Lastly, is this happening in sandbox or production?

[2017-07-08 10:20] arunjnair15 commented on #138
Please check below for complete log. This crash happens in sandbox.

2017-07-08 15:47:45.994 Bellasposa[200:6874] 10:17:45.0832      Main thread | PayPalHere: > EMV Terminal Message 010004D0620000B7 (OK)
2017-07-08 15:47:45.995 Bellasposa[200:6874] 10:17:45.0869      Main thread | PayPalHere: < EMV Terminal Message: 01000EE10ADFA2090100DFA20A0147900030
2017-07-08 15:47:45.996 Bellasposa[200:6874]

[2017-07-10 15:33] ppmtscory commented on #138
It appears that there's an instance in your integration where you are trying to take a payment prior to creating a PPHInvoice - either by specifically creating one or by calling a `beginPayment` method.  Can you double check that scenario?

[2017-07-11 16:03] arunjnair15 commented on #138
Here is a full log of the payment process(sandbox) which results in a crash. We tried your sample app using our mid tier server, that also results in the same crash. This happens randomly, sometimes the payment goes through without any problem using the same server and code. we have logged the invoice details in the processing payment event (see line the end before the crash), and that seems to be

[2017-07-11 16:11] arunjnair15 commented on #138
Bellow Link contains the full log of the payment process(sandbox) which results in a crash. We tried your sample app using our mid tier server, that also results in the same crash. This happens randomly, sometimes the payment goes through without any problem using the same server and code. we have logged the invoice details in the processing payment event (see line the end before the crash), and t

[2017-07-12 12:31] arunjnair15 commented on #138
On further research I found the following scenario before crash.

Normally we receive response in a JSON format while calling the folowing url.

https://www.sandbox.paypal.com/Invoice/CreateInvoice

But at crash scenario, we noticed the response as an HTML content of Paypal Home Page.

On a related note,  the token authorisation in sandbox mode fails randomly and throws the following error. But th

[2017-07-12 15:48] ppmtscory commented on #138
So is this crash only happening _after_ the token expiration and then working again with a repeat?

[2017-07-12 15:53] #136 closed

[2017-07-12 15:55] ppmtscory commented on #138
If you're relying on the SDK to auto refresh the access token by using a refresh URL, please check out my last response on this [issue](https://github.com/paypal/paypal-here-sdk-ios-distribution/issues/135).  It outlines an issue we found and a suggested workaround.  This may be the reason that you're seeing the crash only after token expiration.  Since the token is not valid, the invoice can't be

[2017-08-28 08:38] damavik commented on #106
@ppmtscory Hi! Any estimates regarding next release? Seems like a bunch of fixes (especially for a sandbox mode) should have been implemented.

[2017-08-28 16:01] ppmtscory commented on #106
@damavik I'm not very confident that there will be another release for this SDK unless there is something breaking that needs to have an urgent fix.  We're all hands on deck currently with trying to release our new SDK (2.0) to the public so that will likely be the next thing pushed for iOS, Android, and Windows.  Timing is TBD yet but very hopeful it will be before the end of this year.

[2017-09-21 13:28] ppmtscory commented on #129
Closing this due to inactivity.  If your issue persists, please either reopen or create a new issue with additional details.

[2017-09-21 13:28] #129 closed

[2017-09-28 22:06] rrepaka commented on #129
Hi Cory  --  Sorry to open  this issue again ( though it is slightly different issue) but related to  the same thread....

Hello sir,

we are using Paypal here SDK in our app with Paypal Chip card reader ( As you suggested we have added 'Print receipt' button in getReceiptOptions() method as you suggested

I.
We see Payment canceeld screen when user removes credit card while PAypal SDK is processi

[2017-09-28 22:21] rrepaka opened #139 "How to access 'Payment cancelled' and Declined pages from PaypalHERE SDK ?"
Hello sir,

we are using Paypal here SDK in our app with Paypal Chip card reader ( As you suggested we have added 'Print receipt' button in getReceiptOptions() method as you suggested

I.
We see Payment canceeld screen when user removes credit card while PAypal SDK is processing transaction (See attached)

we need to close this screen and go to Start screen of our App when user clicks on 'No Recei

[2017-09-29 16:37] ppmtscory commented on #129
Once the option is on that screen, you won't be able to remove it.  If you don't want the Print Receipt option to show, then you just wouldn't add it in the first place.  As for the No Receipt option, you won't be able to remove that.  Similarly you can't remove the Email or Text options either.

[2017-09-29 16:38] ppmtscory commented on #139
Once the option is on that screen, you won't be able to remove it. If you don't want the Print Receipt option to show, then you just wouldn't add it in the first place. As for the No Receipt option, you won't be able to remove that. Similarly you can't remove the Email or Text options either.

[2017-09-29 17:43] rrepaka commented on #129
Hi Cory,

Thanks for the quick reply.

1. We need to have a Print Receipt option , with this customer can print
his own receipt ( we cannot remove this button)

2. Can we pass a String to our Print receipt option atleast if the
transaction was cancelled , so that customer will know the transaction was
cancelled

any other option to override this page ?

On Fri, Sep 29, 2017 at 9:37 AM, Cory <notif

[2017-09-29 17:44] rrepaka commented on #139
Hi Cory,

Thanks for the quick reply.

1. We need to have a Print Receipt option , with this customer can print his own receipt ( we cannot remove this button)

2. Can we pass a String to our Print receipt option atleast if the transaction was cancelled , so that customer will know the transaction was cancelled

any other option to override this page ?

[2017-09-29 17:46] ppmtscory commented on #129
I will answer in the other issue you have open.

[2017-09-29 17:51] ppmtscory commented on #139
Within your `getReceiptOptions()` function you will receive the transaction record which would have the status of said transaction.  You should be able to utilize this.

[2017-10-04 08:08] nbaulesglobalsolutions commented on #129
Thank you very much.

Will review and advise as soon  as possible,

All the best

NBaules

Get Outlook<https://aka.ms/sdimjr> for iOS_Nbaules
________________________________
From: Cory <notifications@github.com>
Sent: Saturday, September 30, 2017 1:46:02 AM
To: paypal/paypal-here-sdk-ios-distribution
Cc: Subscribed
Subject: Re: [paypal/paypal-here-sdk-ios-distribution] Print receipt functionality

[2017-10-23 02:07] ngoctr opened #140 "Any update on the next release?"
It has been almost a year since the last release, is there any update on a better PPH v2?

[2017-10-23 14:37] ppmtscory commented on #140
We're hoping to have something ready by the end of the year, otherwise early on in Q1.  Is there a specific feature or something unavailable that's deterring from our current SDK?

[2017-10-25 15:05] nbaulesglobalsolutions commented on #140
Will need all the help we can get from you guys to achieve that goal.

Please continu3 with all the updates.

All the best

NBaules

Get Outlook<https://aka.ms/sdimjr> for iOS_Nbaules
________________________________
From: Cory <notifications@github.com>
Sent: Monday, October 23, 2017 10:37:03 PM
To: paypal/paypal-here-sdk-ios-distribution
Cc: Subscribed
Subject: Re: [paypal/paypal-here-sdk-ios-di

[2017-10-25 15:10] ppmtscory commented on #140
What are you looking to integrate that isn't available today with the current SDK?  What help are you needing specifically?

[2017-11-01 01:12] ngoctr opened #141 "Testing EMV payments"
We can make payments by swiping or tapping the card, however, EMV payments (inserting the card) always get declined. Any ideas?

[2017-11-01 01:32] ngoctr commented on #140
We still face this issue https://github.com/paypal/paypal-here-sdk-ios-distribution/issues/137 for older PayPalHere devices, we have got new devices and everything is fine.

[2017-11-01 14:02] ppmtscory commented on #137
What environment are you testing this in?  The software update process will only work in the Production environment and NOT in the Sandbox environment.

[2017-11-01 14:09] ppmtscory commented on #141
Please provide the error response from the SDK for these declines and I can take a look.   There should be a `correlationId` that will help me look up that specific decline.

[2017-11-02 01:58] ngoctr commented on #141
hi @ppmtscory Thanks for the response. I attached the full log from our iOS app here
[pph.log](https://github.com/paypal/paypal-here-sdk-ios-distribution/files/1436236/pph.log)

[2017-11-02 16:12] ppmtscory commented on #141
Looking at the log, I see that activateReader is being called multiple times even though it's already activated.  Can you double check your app for doing that?  As for the error, the error I see has to do with the signature not being present.  Are you seeing the signature screen to sign for the transaction?  I've seen instances of this error happening when the view hierarchy isn't correct so the s

[2017-11-02 16:15] nbaulesglobalsolutions commented on #141
Could the fact that I'm signing-in with multiple devices and email accounts be the cause of any of these problems?

Sent from myMail for iOS

Friday, 3 November 2017, 12:12 AM +0800 from notifications@github.com <notifications@github.com>:

Looking at the log, I see that activateReader is being called multiple times even though it's already activated. Can you double check your app for doing that?

[2017-11-02 18:23] ppmtscory commented on #141
No that shouldn't be a problem.  As for the error, the error I see has to do with the signature not being present. Are you seeing the signature screen to sign for the transaction? I've seen instances of this error happening when the view hierarchy isn't correct so the signature screen is hidden and therefore can't be captured.

[2017-11-02 18:27] nbaulesglobalsolutions commented on #141
Ok.. I got it.. Yes, there no signature on this.. Let me fix that. Lemme know when it's ok already.

Thanks

Nb

Sent from myMail for iOS

Friday, 3 November 2017, 2:23 AM +0800 from notifications@github.com <notifications@github.com>:

No that shouldn't be a problem. As for the error, the error I see has to do with the signature not being present. Are you seeing the signature screen to sign for t

[2017-11-03 02:06] ngoctr commented on #141
Thanks @ppmtscory. I haven't seen any signature dialogs, so possible there is something wrong with our view hierarchy. We have a modal dialog before invoking PayPalHere payment.

[2017-11-03 13:44] ppmtscory commented on #141
Yes, the SDK UI needs to piggy back off the top-most view so that everything can be shown correctly.  If you're not seeing the signature dialogue, then that's what's causing this for you as you should see a signature screen for every Chip transaction in the US.

[2017-11-06 07:19] ngoctr commented on #141
Hi @ppmtscory, we show a modal view then invoking PayPalHere payment using
`[[PayPalHereSDK sharedTransactionManager]
      beginPaymentUsingUIWithInvoice:self.invoice
               transactionController:self];`
. We had this implemented however it only gets called at the time PayPalHere shows the dialog asking for receipt options. It didn't get called when the EMV payment was declined. Any ideas

[2017-11-06 16:41] ppmtscory commented on #141
I'm not sure I understand the question.  The receipt options are shown even when a transaction is denied so you should see that page regardless of success, denied, or cancelled.  That being said, you also have to have code in the completion handler for the processPaymentUsingUI call that will return to the view after an option is pressed on the receipt screen.  For example, below is what the TakeP

[2017-11-06 16:50] thekingbk90 opened #142 "Paypal here cannot login API with merchant production account"
I'm in UK. I have a problem with paypal here API. It work with my sandbox account without my live account.

With Sandbox account (name Ryan) I used this link => It worked:
https://www.sandbox.paypal.com/signin/authorize?scope=openid https://uri.paypal.com/services/paypalattributes/business https://uri.paypal.com/services/paypalhere address email&response_type=code&redirect_uri=https://devm2.nhubin

[2017-11-06 18:24] ppmtscory commented on #142
In your REST App on developer.paypal.com, you didn't select the PayPal Here scope or any of the address scopes underneath the Log in with PayPal section.  Since you are using those scopes in the redirect to the /authorize endpoint, they need to be selected on your REST App.  The scopes you selected for the sandbox part of your REST App don't automatically transfer to the Live part of your REST App

[2017-11-07 01:17] ngoctr commented on #141
@ppmtscory Sorry it's not clear in my question. It's not about the Receipt screen, it's about the Signature dialog from PayPalHere couldn't being shown, despite of that we implemented the TransactionControllerDelegate which returns the current NavigationController.

[2017-11-07 08:36] thekingbk90 commented on #142
I have already checked live app setting. Paypal here scope was choosen already.
https://prnt.sc/h780x7
:(

[2017-11-08 02:19] thekingbk90 commented on #142
Thank you

I got it lastnight.
But there is another problem, after call back
https://pmvape.co.uk/webpospaypal/config/paypalsignin/?code=C21AAG0Wy8uttQND5D4pjCo8tIy6bCiohsYieiZD94BL32q3WLbK69H8R6E6Gzav4josTGX5ZDowspqbqfD8Zwz4-QVb_tJSA&scope=https%3A%2F%2Furi.paypal.com%2Fservices%2Fpaypalattributes%2Fbusiness%20https%3A%2F%2Furi.paypal.com%2Fservices%2Fpaypalhere%20address%20email%20openid

Except

[2017-11-08 08:54] thekingbk90 commented on #142
Well, this problems was fixed,
I have to set environment is live in PHP code
       $apiContext = new \PayPal\Rest\ApiContext(
            new \PayPal\Auth\OAuthTokenCredential(
                $clientId,
                $clientSecret
            )
        );
        $apiContext->setConfig(array(
            'mode' => 'live'
        ));
It's missed in dev guide:
https://developer.paypal.com/docs/a

[2017-11-08 08:54] #142 closed

[2017-11-14 07:35] thekingbk90 opened #143 "Swipe and contactless (tap) don't display"
I can make payment with EMV. Howerver swipe and contactless (tap) don't display.
Paypal demo: https://prnt.sc/ha76w6
My app's screenshot: https://prnt.sc/ha79vv
Anyone can help me?

[2017-11-15 16:50] ppmtscory commented on #143
Is this the only image that shows upon entering payment mode?  This will be the only thing that shows after you try to swipe a card with a Chip because if the card has a chip, then it needs to be processed as such.

[2017-11-17 06:57] thekingbk90 commented on #143
Oh I can make it work.
But with iOs SDK I cannot enable contactless automatically.

Function #1: [[PayPalHereSDK sharedTransactionManager] beginPaymentUsingUIWithInvoice:invoice transactionController:self];
Function #2:  [[PayPalHereSDK sharedTransactionManager] activateReaderForPayments:NULL];

If I use function #1, and wait for initializing and click another button to use Function #2 => Contactl

[2017-11-17 15:18] ppmtscory commented on #143
That's how the flow works, though, you need to have a successful beginPayment call prior to activating the reader.  When you call activateReader, then that's saying you're ready to take the payment and, thus, showing the options on the reader.  Then when the customer either taps, inserts, or swipes; you'll get a call into userDidSelectPayment where you'll then call processPaymentUsingUI method.

[2017-11-20 03:26] ngoctr commented on #141
Hi @ppmtscory Any ideas on the issue above? Thanks.

[2017-11-20 17:37] ppmtscory commented on #141
If you're using an AU account, then it shouldn't be asking for a signature anyway as AU would utilize Chip & Pin instead of Chip & Signature.  Can you switch to a US merchant account to see if everything runs through?

[2017-11-21 06:57] ngoctr commented on #141
@ppmtscory Switched to US but the signature dialog is still now able to show. I tried TakePayment app, same result: the card is declined/Signature is required to SIGN, but no signature dialog shown. Please check the log attached. Thanks.
[takepayment.log](https://github.com/paypal/paypal-here-sdk-ios-distribution/files/1490314/takepayment.log)

[2017-11-21 15:33] ppmtscory commented on #141
That log shows an AU account as the receiver (ng**********.au-facilitator@gmail.com) and it also doesn't show that PPH is enabled on that account.  When using the TakePayment sample app, after clicking the Login button, be sure to login with a US Business account to test out the signature flow.  You can find instructions for creating Sandbox accounts [here](https://developer.paypal.com/docs/integr

[2017-11-21 15:41] ppmtscory commented on #141
It also appears that you may be using a first party token with that log.  The client ID matches to the same email as my previous answer which suggests that.  Please also review our [Merchant Onboarding](https://developer.paypal.com/docs/integration/paypal-here/merchant-onboarding/overview/) guide to see what I'm referring to.  In order to see this in action, please try the route of my previous ans

[2017-11-21 18:52] rrepaka opened #144 "PPHTransactionManager encryptedCardData"
Do you have any code samples for  encryptedCardData() method ?

[2017-11-21 21:59] ppmtscory commented on #144
If you're integrating with the SDK itself, then you wouldn't need to use this method at all as the card information is already encrypted at the time of the card swipe/insert/tap.

[2017-11-21 22:08] rrepaka commented on #144
Yes , card information is encrypted at the time of swipe.
Sorry i did not provide full information,  Basically we are trying to provide a deals/ promotions based on customer credit card , for that we are asking some help from you guys.

if you have any examples please share it with us.

[2017-11-21 22:20] ppmtscory commented on #144
There's `PPHTokenizedCustomerInformation` as a part of the `PPHTransactionRecord` which contains a `customerId`.  This ID is specific to the card used for the payment so it would be the same each time that particular card is used.  This is usually what folks use for loyalty/promotions/etc.

[2017-11-21 22:22] rrepaka commented on #144
Thanks for sharing this info. can we get this Object without processing any transaction ? the reason is  customer swiped his credit card just to know his loyalty / promotions without any transaction amount .

How do we get this object ?

[2017-11-21 22:23] nbaulesglobalsolutions commented on #144
No. I don’t think I have one.. how do I get one?

Sent from myMail for iOS

Wednesday, November 22, 2017, 2:52 AM +0800 from notifications@github.com <notifications@github.com>:

Do you have any code samples for encryptedCardData() method ?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://nam03.safelinks.protection.outlook

[2017-11-21 22:28] rrepaka commented on #144
Hello ppmtscory,
Sorry, we are trying to get credit card information without any transaction amount and trying to avoid back end call if possible . Is there any method in paypalHereSDK so that we an show loyalty/promotions based on card data

[2017-11-21 22:41] ppmtscory commented on #144
You would need to store that information when it's available and then if the customer wants to know, you would look in your DB to determine what their loyalty balance is.  There's no way to run a transaction for a $0 amount.  You'd store the customer ID alongside some other identifying info (card last 4 maybe?) so that when the customer wants to know, you simply need to ask for that info, type int

[2017-11-21 22:45] rrepaka commented on #144
Thanks a lot for your help

[2017-11-21 22:45] #144 closed

[2017-11-21 22:46] nbaulesglobalsolutions commented on #144
Ok will do it right away..

Thanks

NBaules

Sent from myMail for iOS

Wednesday, November 22, 2017, 6:45 AM +0800 from rrepaka <notifications@github.com>:

Thanks a lot for your help

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://nam03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fpaypal%2Fpaypal-here-sdk-ios-distributio

[2017-11-29 15:30] medinaonly opened #145 "Bitcode error"
Reproduced for:
pod 'PayPalHereSDK/Release', '1.6.8'
pod 'PayPalHereSDK/Debug', '1.6.8'
pod 'PayPalHereSDK', '1.6.8'

![error](https://user-images.githubusercontent.com/1580342/33383015-4b166236-d533-11e7-88a3-1a4c1390de4f.png)

[2017-12-01 11:32] maulikpat opened #146 "Get Access Token without Mid Tier Server"
Hello,

I am integrating PayPal Here SDK with iOS. In Documentation it says we need to have mid tier server for getting access tokens and refresh tokens.

But I want to know that is there any way without server need I can get access token ?
Currently I am able to generate access by :
`

    NSString *clientID = @"";

    NSString *secret = @"";
    NSString *authString = [NSString stringWithFormat

[2017-12-01 12:08] djMax commented on #146
It's been a long while, but if you don't have a midtier, then you can just refresh the token yourself from the client. This looks like a "first party" token - does it actually work to call the various PPH functions? i.e. can you process a transaction with it? If so, then you can just redo the call above periodically to give the SDK a new access token. If you wanted to be fancy, you could give the

[2017-12-01 12:45] maulikpat commented on #146
Well, as I can see in demo project there is no way set access token directly to the SDK.
There is 2 methods to setup SDK setupWithCredentials and setupWithCompositeTokenString.

Is there a way to set token without these methods ?

I only wanted to accept payments via card readers.

[2017-12-01 22:21] ppmtscory commented on #146
First party tokens won't work for the PPH SDK, unfortunately.  You'll need to build out the onboarding flow, simply to get your own refresh token for the first time and then you'll use that, going forward, to generate your access tokens.  More info on that process can be found [here](https://developer.paypal.com/docs/integration/paypal-here/merchant-onboarding/initiating-the-onboarding-flow/).  If

[2017-12-04 07:18] maulikpat commented on #146
@ppmtscory how can I use `setupWithCredentials ` without refresh url ? Should I pass fake url as djmax mentioned ?

[2017-12-04 07:23] maulikpat commented on #146
I tried to provide fake url like below
`[PayPalHereSDK setupWithCredentials:[dict valueForKey:@"access_token"] refreshUrl:@"www.google.com" tokenExpiryOrNil:[dict valueForKey:@"expires_in"] thenCompletionHandler:^(PPHInitResultType status, PPHError *error, PPHMerchantInfo *info)`

App is crashes :

2017-12-04 12:51:21.828128+0530 TakePayment[783:43621] *** Terminating app due to uncaught exception